body {
      background-color: var(--sub-body);
}

/* ======== sub-hd  ========*/
.sub-hd {
      width: 100%;
      height: 380px;
      position: relative;
      overflow: hidden;
      background-color: #f2b701;
}
.sub-hd-lnb a {
      color: var(--white-color);
}

.sub-hd-bg {
      background-image: url('/images/smile-banner-bg.jpg');
      background-position: center center;
}

.sub-hd-lnb a::after {
      background-color: var(--point-color);
}

.sub-hd-lnb a:hover {
      color: var(--point-color);
      transition: 0.3s;
}

.sub-hd-lnb a.subHd-active {
      color: var(--point-color);
}

.sub-hd-lnb a.subHd-active::after {
      width: 100%;
}

.bg-pic {
      position: absolute;
}

.bg-pic:nth-child(1) {
      width: 458px;
      height: 341px;
      top: 0;
      left: 130px;
      background-image: url('/images/smile-pic-01.png');
      animation: bigpicFirst 1s;
}

@keyframes bigpicFirst {
      0% {
            top: -300px;
            opacity: 0;
      }
      100% {
            top: 0;
            opacity: 1;
      }
}

.bg-pic:nth-child(2) {
      width: 649px;
      height: 386px;
      right: 120px;
      bottom: -130px;
      background-image: url('/images/smile-pic-02.png');
      animation: bigpicSecond 1s ease-in-out;
}

@keyframes bigpicSecond {
      0% {
            right: 50px;
            opacity: 0;
      }
      100% {
            right: 120px;
            opacity: 1;
      }
}

/* sub-hd-txt */
.sub-hd-txt {
      width: 1180px;
      position: absolute;
      top: 125px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: var(--white-color);
}

.sub-hd-txt p:nth-child(1) {
      transform: translateY(50px);
      font-family: 'LeferiPoint-BlackA';
      font-size: 68px;
      font-weight: 800;
      letter-spacing: -0.05em;
      transition: 0.6s;
      opacity: 0;
}

.sub-hd-txt p:nth-child(2) {
      transform: translateY(70px);
      font-size: 15.5px;
      line-height: 22px;
      transition: 0.9s;
      opacity: 0;
}

/* ======== menu.menu-tag-bx  ========*/
.menu-tag-bx {
      width: 1170px;
      height: 80px;
      position: relative;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      background-color: var(--white-color);
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                  rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.menu-tag-bx ul {
      width: 340px;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: auto;
}

.menu-tag-bx li:not(:last-child) {
      padding-right: 24px;
      border-right: 1px solid #a1a1a179;
}

.menu-tag-bx li:first-child a {
      color: var(--primary-color);
      font-weight: 600;
}

.menu-tag-bx a {
      font-weight: 600;
      color: #525252;
}

.menu-tag-bx a:hover {
      color: var(--primary-color);
      font-weight: 600;
}

/* ======== menu-list-container  ========*/
.menu-list-container {
      width: 1170px;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
      padding: 20px 0 70px 0;
}

/* menu-item */
.menu-item {
      width: calc(1170px / 3 - 20px);
      height: 330px;
      position: relative;
      margin: 10px;
      background-color: var(--white-color);
}

/* menu-front-item */
.menu-img {
      width: 225px;
      margin: auto;
      padding-top: 25px;
      margin-bottom: 10px;
}

.menu-img img {
      width: 100%;
}

.menu-item-txt {
      width: 100%;
      text-align: center;
}

.menu-title {
      margin-bottom: 3px;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0.03em;
      color: var(--text-black);
}

.menu-title-eng {
      margin-bottom: 12px;
      font-size: 16px;
      color: var(--text-gray);
}

.menu-kcal {
      font-family: 'LeferiPoint-BlackA';
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.05em;
      color: var(--point-color);
}

/* menu-back-item */
.menu-item:hover .menu-back-item {
      opacity: 1;
      cursor: pointer;
}

.menu-back-item {
      width: calc(1170px / 3 - 20px);
      height: 330px;
      position: absolute;
      top: 0;
      overflow: hidden;
      opacity: 0;
      background-color: var(--primary-color);
      transition: 0.2s;
}

.menu-back-inner {
      width: 100%;
      height: 330px;
      text-align: center;
      color: var(--white-color);
}

.menu-back-inner p:nth-child(1) {
      margin-bottom: 8px;
      padding-top: 60px;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0.03em;
}

.menu-back-item .menu-back-inner .item-7-1,
.menu-back-item .menu-back-inner .item-11-1 {
      padding-top: 50px;
}

.menu-back-item .menu-back-inner .item-7-3,
.menu-back-item .menu-back-inner .item-11-3 {
      margin-bottom: 18px;
}

.menu-back-item:hover .menu-back-inner p:nth-child(1) {
      animation: txtFirstUp 0.6s;
}

@keyframes txtFirstUp {
      0% {
            transform: translateY(25px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

.menu-back-inner p:nth-child(2) {
      margin-bottom: 20px;
}

.menu-back-item:hover .menu-back-inner p:nth-child(2) {
      animation: txtSecondUp 0.7s;
}

@keyframes txtSecondUp {
      0% {
            transform: translateY(45px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

.menu-back-inner p:nth-child(3) {
      margin-bottom: 22px;
      font-size: 15px;
      font-weight: 100;
      line-height: 20px;
      color: var(--sdwback-txt-3);
}

.menu-back-item:hover .menu-back-inner p:nth-child(3) {
      animation: txtThirdUp 0.8s;
}

@keyframes txtThirdUp {
      0% {
            transform: translateY(65px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

/* item-4 */
.menu-back-item .menu-back-inner .back-item-4-1 {
      padding-top: 50px;
}

.menu-back-item .menu-back-inner .back-item-4-3 {
      margin-bottom: 10px;
}

.icon-more {
      padding-left: 20px;
}

.menu-back-item:hover .icon-more {
      animation: moreUp 0.9s;
}

@keyframes moreUp {
      0% {
            transform: translateY(75px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}


/* ======= media-query ======= */
@media screen and (max-width: 1500px) {
      .bg-pic:nth-child(1) {
            left: 10px;
      }
      .bg-pic:nth-child(2) {
            right: 10px;
      }
      @keyframes bigpicSecond {
            0% {
                  right: -50px;
                  opacity: 0;
            }
            100% {
                  right: 10px;
                  opacity: 1;
            }
      }
}

@media screen and (max-width: 1300px) {
      .sub-hd,
      .menu-tag-bx,
      .menu-list-container {
            display: none;
      }
}