.wrapper {
      width: 100%;
      height: 100%;
      position: relative;
}

.main-hd {
      width: 100%;
      height: 170px;
      border-top: 5px solid var(--primary-color);
      background-color: var(--white-color);
}

.main-hd-container {
      width: 1080px;
      height: 100%;
      margin: auto;
      background-color: inherit;
}

.main-hd-top {
      width: 100%;
      height: 120px;
      position: relative;
}

.logo {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
}

.logo > h1 {
      font-size: 0;
}

.logo > h1 > img {
      display: block;
}

/* gnb */
.gnb {
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
}

.gnb ul {
      display: flex;
      font-size: 15px;
      color: var(--text-gray);
}

.gnb li:hover {
      color: var(--primary-color);
}

.gnb li:first-child {
      padding-right: 25px;
      position: relative;
}

.gnb li:first-child::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      display: block;
      width: 5px;
      height: 5px;
      border-radius: 50%;
      background-color: #bebebe84;
}

.gnb li:last-child {
      padding-left: 20px;
}

.main-hd-btm {
      width: 100%;
}

.lnb > ul {
      width: 100%;
      position: relative;
      display: flex;
      justify-content: space-between;
}

.lnb > ul > li {
      width: 100%;
      text-align: center;
}

#main > a {
      display: block;
      height: 45px;
      line-height: 30px;
      font-size: 17px;
      font-weight: 600;
}

.mainMenu-active {
      color: var(--primary-color);
}

.lnb > ul > li:hover > a {
      color:var(--primary-color);
}

.sub-menu {
      width: calc(1080px / 6);
      height: 220px;
      position: absolute;
      display: none;
      font-size: 15px;
      color: var(--text-gray);
      z-index: 9;
}

.sub-menu > li {
      width: 100%;
      margin-bottom: 10px;
}

.sub-menu > li:first-child {
      margin-top: 30px;
}

.sub-menu a:hover{
      color:var(--primary-color);
      text-decoration: underline;
}

.sub-menu a.subMenu-active {
      color: var(--primary-color);
      text-decoration: underline;
}

.main-hd-bg {
      width: 100%;
      height: 0;
      position: absolute;
      display: block;
      border-top: 1px solid #92929280;
      background-color: var(--white-color);
      box-shadow: #0000001a 0px 4px 6px -1px, #0000000f 0px 2px 4px -1px;      
      z-index: 2;
}

/* MOBILE */
.mbMenu-openBtn {
      position: absolute;
      top: 50%;
      left: 50px;
      transform: translateY(-50%);
      display: none;
      z-index: 1;
}

.mbMenu-openBtn > span {
      font-size: 40px;
      color: var(--primary-color);
      cursor: pointer;
}

.mbMenu-openBtn > span:hover {
      color: var(--point-color);
}

/* mobile */
.mobile-container {
      position: relative;
      display: none;
      width: 100%;
      height: 1000px;
      background-color: var(--mobile-main-bg);
}

.mobileMenuBg {
      width: 100%;
      position: absolute;
      display: block;
      top: 0;
      bottom: 0;
      left: -100%;
      font-size: 0;
      background-color: #00000070;
      opacity: 0;
      z-index: 3;
}

/* mobile-gnb */
.mobile-menu {
      width: 420px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: -100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: var(--white-color);
      z-index: 5;
}

.mobile-menu-inner {
      width: 100%;
      height: 100%;
      background-color: #f9f9f9;
}

.mb-menu-hd {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 30px 25px 35px 25px;
      background-color: var(--primary-color);
}

.mb-menu-hd img {
      width: 130px;
      background-size: cover;
}

.mb-menu-setting {
      display: flex;
      align-items: center;
}

.mb-menu-setting > span,
.mb-menu-settingBtn {
      display: block;
      color: var(--white-color);
      cursor: pointer;
}

.mb-menu-setting > span:hover,
.mb-menu-settingBtn:hover {
      color: var(--point-color);
}

.mb-menu-settingBtn > span {
      display: block;
      margin-right: 8px;
}

/* mobile-gnb */
.mobile-gnb {
      background-color: var(--primary-color);
      padding: 0 25px 70px 25px;
}

.mobile-gnb p {
      margin-bottom: 30px;
      font-size: 15px;
      font-weight: 100;
      color: var(--white-color);
}

.mobile-gnb ul {
      display: flex;
      align-items: center;
}

.mobile-gnb li {
      background-color: var(--white-color);
      width: 50%;
      padding: 8px 15px;
      border-radius: 20px;
      font-size: 15px;
      text-align: center;
      transition: all 0.3s;
}

.mobile-gnb li:hover {
      transform: translateY(-3px);
}

.mobile-gnb li:first-child {
      margin-right: 10px;
      color: var(--white-color);
      background-color: var(--point-color);
}

.mobile-gnb li:first-child:hover a{
      color: var(--white-color);
}

/* mobile-myMenu */
.mobile-myMenu {
      width: 370px;
      position: absolute;
      top: 230px;
      left: 50%;
      transform: translateX(-50%);
      margin: auto;
      background-color: var(--white-color);
      border-radius: 30px 0 30px 0;
      padding: 35px 30px;
      box-shadow: #959da533 0px 8px 24px;
}

.mobile-myMenu ul {
      width: 100%;
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      row-gap: 22px;
}

.mobile-myMenu li {
      width: calc(100% / 3);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 13.5px;
      font-weight: 600;
      text-align: center;
}

.mobile-myMenu li:hover {
      color: var(--primary-color);
}

.myMenu-i {
      display: block;
      margin: auto;
      margin-bottom: 5px;
}

.myMenu-i img {
      width: 40px;
}

.mobile-lnb {
      position: relative;
      top: 190px;
      width: 370px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: #959da533 0px 8px 24px;
      background-color: transparent;
      border-top-left-radius: 30px;
      border-bottom-right-radius: 30px;
}

.mb-lnb-item:nth-child(1) > .mb-lnb-header {
      border-top-left-radius: 30px;
}

.mb-lnb-item:nth-child(6) > .mb-lnb-header {
      border-bottom-right-radius: 30px;
      transition: 1s;
}

.mb-lnb-item:nth-child(6) > .mb-lnb-header.active {
      border-bottom-right-radius: 0;
      transition: 0s;
}

.mb-lnb-item:nth-child(6) > .mb-lnb-body {
      border-bottom-right-radius: 30px;
}

.mb-lnb-item:not(:nth-child(6))  > .mb-lnb-header {
      border-bottom: 1px solid #80808053;
}

.mb-lnb-item {
      width: 100%;
}

/* mb-lnb-header */
.mb-lnb-header {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 15px 28px;
      border: none;
      color: var(--text-black);
      background-color: #fff;
      cursor: pointer;
}

.mb-lnb-header.active {
      color: var(--primary-color);
}

.mb-lnb-header:hover,
.mb-lnb-header:hover .mb-lnb-btn > span {
      color: var(--primary-color);
}

.mb-lnb-title {
      display: flex;
      align-items: center;
}

.mb-lnb-title img {
      display: block;
      width: 30px;
      margin-right: 10px;
}

.mb-lnb-title > h3.mainMenu-active {
      color: var(--primary-color);
}

.mb-lnb-btn > span {
      font-size: 28px;
      color: #808080;
      cursor: pointer;
}

.mb-lnb-header.active .mb-lnb-btn > span {
      transform: rotate(180deg);
      color: var(--primary-color);
      transition: all 0.3s;
}

/* mb-lnb-body */
.mb-lnb-body {
      max-height: 0;
      overflow: hidden;
      padding: 0 30px;
      background-color: #fafafa;
      box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;
}

.mb-lnb-body.active {
      max-height: 200px;
      padding: 25px 30px;
      transition: all 0.5s;
}

.mb-lnb-body li:not(:last-child) {
      margin-bottom: 5px;
}

.mb-lnb-body a {
      display: inline-block;
      text-indent: 3.4em;
      font-size: 15px;
}

.mb-lnb-body a.subMenu-active {
      color: var(--primary-color);
      text-decoration: underline;
}

.mb-lnb-body a:hover {
      color: var(--primary-color);
      text-decoration: underline;
}

/* mb-finish */
#mb-finish {
      position: relative;
}

#mb-finish::before {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      width: 50px;
      height: 20px;
      background-image: url('../images/tooltip-2.png');
      background-size: contain;
      background-repeat: no-repeat;
      animation: tooltipAni 1s linear infinite;
}

@keyframes tooltipAni {
      0% {
            opacity: 0;
      }
      100% {
            opacity: 1;
      }
}

/* mobile-slider */
.mobile-container .bx-wrapper {
      width: 640px;
      height: 680px;
      margin: auto;
      position: relative;
}

.mobile-slider {
      width: 640px;
      height: 680px;
      display: flex;
      margin: auto;
}

.mobile-slider > a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
}

.mobile-container .bx-pager {
      position: absolute;
      left: 50%;
      bottom: 50px;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
}

.mobile-container .bx-pager-item:not(:last-child) {
      margin-right: 10px;
}

.mobile-container .bx-pager.bx-default-pager a {
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 5px;
      background: #fff;
      box-shadow: #959da533 0px 8px 24px;
      transition: 0.3s;
}

.mobile-container .bx-pager.bx-default-pager a:hover,
.mobile-container .bx-pager.bx-default-pager a.active,
.mobile-container .bx-pager.bx-default-pager a:focus {
      width: 30px;
      border-radius: 20px;
      background: #ffce32;
}

.mobile-container .bx-pager-item {
      font-size: 0;
      line-height: 0;
}

/* ======== mobile-tabs ========*/
.mobile-tabs {
      position: absolute;
      bottom: 120px;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      display: flex;
      padding: 32px 10px 35px 10px;
      background-color: var(--white-color);
      border-radius: 30px 0 30px 0;
      box-shadow: 0px 7px 29px 0px var(--mobiletabs-sdw);
}

.mobile-tab {
      width: 50%;
      text-align: center;
      transition: 0.3s;
}

.mbt-bdr::after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: var(--mobiletab-border);
}

.mobile-tab p:nth-of-type(1) {
      margin: auto;
      width: 125px;
      height: 35px;
      margin-bottom: 8px;
      padding-top: 13px;
      font-size: 18px;
      font-weight: 800;
      background-image: url('../images/sbm-hd-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
}

.mobile-tab p:nth-of-type(2) {
      font-size: 14px;
      color: var(--mobiletab-txt-2);
      margin-bottom: 22px;
}

.mobile-tab-icon img {
      width: 100px;
}

.mobile-tab:hover {
      transform: scale(1.03);
}

/* ======== footer ======== */
footer {
      width: 100%;
      height: 154px;
      display: flex;
      align-items: center;
      background-color: #292929;
}

.footer-container {
      width: 100%;
      margin: auto;
}

/* ft-top-container */
.ft-top-container {
      width: 100%;
      padding: 20px 0;
      border-bottom: 1px solid var(--ft-border);
}

.ft-top-inner {
      width: 1180px;
      margin: auto;
      color: var(--text-gray);
}

.ft-top-inner ul {
      display: flex;
      font-size: 15px;
}

.ft-top-inner li:not(:last-child) {
      margin-right: 30px;
}

.ft-top-inner li:nth-child(2) {
      font-weight: bold;
      color: var(--ft-white);
}

/* ft-btm-container */
.ft-btm-container {
      width: 100%; 
      padding: 20px 0;
}

.ft-btm-inner {
      width: 1180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
}

/* ft-btm-left */
.ft-btm-left {
      color: var(--text-gray);
      font-size: 13px;
}

.sb-ft-info {
      display: flex;
}

.sb-ft-info li {
      position: relative;
}

.sb-ft-info li:not(:last-child) {
      padding-right: 20px;
}

.sb-ft-info li:not(:last-child)::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 9px;
      transform: translateY(-50%);
      display: block;
      width: 2px;
      height: 50%;
      background-color: var(--text-gray);
}

.sb-ft-copyright > br {
      display: none;
}

/* ft-btm-right */
.ft-btm-right {
      width: fit-content;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 5px;
}

.sns-instagram {
      width: 50px;
      height: 50px;
      margin-right: 10px;
      background-image: url('../images/instagram_1-1.png');
      transition: 0.3s;
      cursor: pointer;
}

.sns-instagram:hover {
      background-image: url('../images/instagram_1-2.png');
}

.ft-btm-right a {
      display: inline-block;
      width: 100%;
      height: 100%;
}

.sns-facebook {
      width: 50px;
      height: 50px;
      background-image: url('../images/facebook_1-1.png');
      transition: 0.3s;
      cursor: pointer;
}

.sns-facebook:hover {
      background-image: url('../images/facebook_1-2.png');
}

/* ======= media-query ======= */

/* max-width : 1300px */ 
@media screen and (max-width: 1300px) {
      .main-hd-container {
            width: 100%;
      }
      .main-hd-top {
            height: 165px;
            z-index: 1;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 10px;
      }
      .gnb,
      .main-hd-btm,
      .main-hd-bg {
            display: none;
      }
      .mbMenu-openBtn {
            display: block;
      }
      .mobile-container {
            display: block;
      }
      footer {
            height: fit-content;
      }
      .ft-top-inner {
            width: fit-content;
      }
      .ft-top-inner ul {
            justify-content: center;
            font-size: 14px;
      }
      .ft-top-inner li:not(:last-child) {
            margin-right: 20px;
      }
      .ft-btm-inner {
            width: fit-content;
            flex-direction: column-reverse;
            justify-content: center;
            align-items: center;
      }
      .sb-ft-info {
            display: block;
            text-align: center;
            margin-bottom: 5px;
      }
      .sb-ft-info li:not(:last-child)::after {
            display: none;
      }
      .sb-ft-info li:not(:last-child) {
            padding-right: 0;
      }
      .ft-btm-right {
            margin-bottom: 10px;
      }
      .sns-instagram,
      .sns-facebook {
            width: 40px;
            height: 40px;
            margin-right: 8px;
            background-size: cover;
      }
      .sb-ft-copyright {
            text-align: center;
      }
      .sb-ft-copyright > br {
            display: block;
      }
      
}

/* max-width : 460px */
@media screen and (max-width: 460px) {
      .mobile-tabs {
            width: 300px;
      }
      .mobile-tab p:nth-of-type(1) {
            width: 100px;
            font-size: 16px;
            padding-left: 12px;
      }
      .mobile-tab p:nth-of-type(2) {
            font-size: 12px;
      }
      .mobile-tab-icon img {
            width: 80px;
      }
}
