/* basic font */
@font-face {
      font-family: 'Pretendard-Regular';
      src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
      font-weight: 400;
      font-style: normal;
}

/* section_sbm-title */
@font-face {
      font-family: 'LeferiPoint-BlackA';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/LeferiPoint-BlackA.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

@font-face {
      font-family: 'GangwonEduPowerExtraBoldA';
      src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEduPowerExtraBoldA.woff') format('woff');
      font-weight: normal;
      font-style: normal;
}

/* ======== reset CSS  ========*/
* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Pretendard-Regular';
      scroll-behavior: smooth;
}

body {
      min-width: 640px;
      font-size: 16px;
      overflow-x: hidden;
}

li {
      display: block;
      margin: 0;
      padding: 0;
}

a {
      all: unset;
      margin: 0;
      padding: 0;
      cursor: pointer;
}

a:hover {
      color: unset;
}

ul, ol, dl {
      display: block;
      list-style-type: none;
      margin-block-start: 0;
      margin-block-end: 0;
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 0;
      margin-bottom: 0;
}

p {
      margin: 0;
      padding: 0;
}


/* ======== root ========*/
:root {
      --primary-color: #009223;
      --point-color: #ffce32;
      --white-color: #fff;
      --text-black: #292929;
      --text-gray: #666666;
      --text-shdw: #2929293f;
      --gnb-after: #3b3b3ba9;
      --sbm-slider: #464646c1;
      --sbm-slider-hv: #1f1f1f;
      --menumore-shw: #23232330;
      --menumore-icon-sdw: #23232320;
      --sb-enjoy: #01a5e2;
      --sb-history: #ff8300;
      --sb-news-desc: #464646c1;
      --sb-newsmore-hv: #121212;
      --quickmenu-bg: #f6f6f6;
      --quickmenu-sdw: #26262665;
      --ft-border: #3b3b3b;
      --ft-white: #bbbbbb;
      --mobile-main-bg: #f8f8f8;
      --mobiletab-txt-2: #929292;
      --mobiletabs-sdw: #64646f33;
      --mobiletab-border: #8383833c;
      --sub-body: #f2f2f2;
      --sub-hd: #e95b1d;
      --sublnb-after: #ffffff90;
      --sdwback-txt-3: #ecdba0;
}
