/* ======== main-hd  ========*/
.main-hd {
      width: 100%;
      display: flex;
      justify-content: center;
      border-top: 5px solid var(--primary-color);
      background-color: #fff;
}

/* ---- main-hd-bg (main-hd의 white-bg)---- */
.main-hd-bg {
      width: 100%;
      height: 0;
      /* height: 280px; */
      position: absolute;
      top: 176px;
      z-index: 2;
      border-top: 1px solid #37373746;
      background-color: #fff;
      box-shadow: #0000001a 0px 20px 25px -5px, #0000000a 0px 10px 10px -5px;
}

.hd-container {
      width: 1180px;
      height: auto;
      position: relative;
}

/* -- hd-top-container -- */
.hd-top-container {
      width: 100%;
      height: 125px;
      background-color: var(--white-color);
}

.hd-top-inner {
      width: 100%;
      display: flex;
}

/* logo */
.logo {
      position: absolute;
      top: 42px;
      left: 50%;
      transform: translateX(-50%);
}

.logo h1 {
      font-size: 0;
}

/* gnb */
.gnb {
      width: 150px;
      position: absolute;
      top: 50px;
      right: 0;
}

.gnb ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.gnb li:first-child::after {
      content: "";
      width: 4px;
      height: 4px;
      display: inline-block;
      margin-left: 15px;
      margin-bottom: 2px;
      border-radius: 50%;
      background-color: var(--gnb-after);
}

.gnb li:nth-child(2) {
      margin-left: 2px;
}

.gnb li:nth-child(3) {
      padding-top: 2.2px;
}

.gnb li:nth-child(3) img {
      width: 20px;
      height: 20px;
      display: flex;
      align-items: center;
      transition: 0.3s;
}

.gnb a {
      font-size: 14px;
      color: var(--text-black);
      transition: 0.3s;
}

.gnb li:hover a {
      cursor: pointer;
}

/* -- hd-btm-container -- */
.hd-btm-container {
      width: 100%;
}

/* lnb */
.lnb {
      width: 100%;
      background-color: #fff;
}

/* lnb&sub-menu */
.lnb li {
      width: calc(1180px / 6);
      text-align: center;
}

.lnb > ul > li:hover > a {
      color: var(--primary-color);
}

.lnb > ul {
      width: 100%;
      position: relative;
      display: flex;
}

.lnb > ul > li {
      padding-bottom: 25px;
      font-size: 18px;
      font-weight: bolder;
}

/* sub-menu */
.sub-menu {
      height: 278px;
      position: absolute;
      top: 47px;
      display: none;
      z-index: 9;
      background-color: transparent;
}

.sub-menu > li {
      padding: 10px 0;
}

.sub-menu > li:first-child {
      padding-top: 26px;
}

.sub-menu a {
      font-size: 15px;
      font-weight: normal;
      color: var(--text-gray);
      transition: 0.5s;
}

.sub-menu a:hover {
      color: var(--primary-color);
      text-decoration: underline;
}

#finish > a {
      font-weight: bolder;
      color: var(--primary-color);
      text-decoration: underline;
}
/* finish marking */
/* #finish::before {
      content: "";
      position: absolute;
      display: inline-block;
      width: 100%;
      height: 2px;
      bottom: 0;
      left: 0;
      background-color: var(--point-color);
} */

/* -- slide-menu-btn -- */
/* 새로 만들기 */
.slide-menu-btn {
      position: absolute;
      top: 43px;
      right: 50px;
      z-index: 10;
      opacity: 0;
      transition: 0.5s;
}

.slide-menu-btn span {
      font-size: 30px;
      font-weight: bold;
      color: var(--primary-color);
}

input {
      display: none;
}

input[id="slide-menu-btn"]:checked + label + .slide-menu {
      left: 0;
}

.slide-menu {
      width: 100%;
      position: absolute;
      top: 120px;
      left: 200%;
      padding: 0 45px 45px 45px;
      border-bottom: 5px solid var(--primary-color);
      background-color: var(--white-color);
      z-index: 2;
      opacity: 0;
      transition: 0.5s;
}

/* slide-gnb */
.slide-gnb {
      display: flex;
      justify-content: right;
      margin-bottom: 30px;
      padding: 0 40px;
}

.slide-gnb ul {
      width: 170px;
      display: flex;
      justify-content: flex-end;
      justify-content: space-between;
      align-items: center;
}

.slide-gnb li:first-child {
      display: flex;
      align-items: center;
}

.slide-gnb li:first-child::after {
      content: "";
      width: 4px;
      height: 4px;
      display: block;
      margin-left: 20px;
      border-radius: 50%;
      background-color: var(--gnb-after);
}

.slide-gnb li:nth-child(3) img {
      height: 20px;
      width: 20px;
      display: flex;
      align-items: center;
      margin-top: 2px;
}

.slide-gnb a,
.slide-gnb li:nth-child(2),
.slide-gnb li:nth-child(3) {
      font-size: 14px;
      transition: 0.3s;
}

.slide-gnb a:hover,
.slide-gnb li:nth-child(2):hover,
.slide-gnb li:nth-child(3):hover {
      color: var(--primary-color);
      transform: translateY(-2px);
}

/* slide-lnb */
.slide-menu > ul {
      height: 680px;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 15px;
}

.slide-menu > ul > li > a {
      font-size: 20px;
      font-weight: bolder;
      text-shadow: 0px 0px 1px var(--text-sdw);
}

.slide-menu > ul > li {
      width: calc(100% / 2 - 90px);
      padding-bottom: 30px;
}

.slide-menu > ul > li > a {
      width: 380px;
      display: block;
      padding-bottom: 10px;
      border-bottom: 1.5px solid var(--text-black);
      color: var(--text-black);
}

.slide-lnb > li:hover > a {
      color: var(--primary-color);
}

.lnb-title span {
      position: relative;
      top: 6.5px;
      left: 5px;
      font-size: 30px;
}

.slide-sub-menu {
      width: 40%;
      padding-top: 15px;
}

.slide-sub-menu li:not(:last-child) {
      margin-bottom: 10px;
}

.slide-sub-menu a {
      width: 250px;
      display: block;
      transition: 0.2s;
}

.slide-sub-menu a:hover {
      color: var(--primary-color);
      text-decoration: underline;
      text-shadow: 0px 0px 1px var(--text-sdw);
      transform: translateX(8px);
}

/* ======== footer ======== */
footer {
      width: 100%;
      height: 160px;
      display: flex;
      align-items: center;
      background-color: #292929;
}

.footer-container {
      width: 100%;
      margin: auto;
}

/* ft-top-container */
.ft-top-container {
      width: 100%;
      border-bottom: 1px solid var(--ft-border);
}

.ft-top-inner {
      width: 1180px;
      margin: auto;
      padding-bottom: 20px;
      color: var(--text-gray);
}

.ft-top-inner ul {
      display: flex;
      font-size: 15px;
}

.ft-top-inner li:not(:last-child) {
      margin-right: 30px;
}

.ft-top-inner li:nth-child(2) {
      font-weight: bold;
      color: var(--ft-white);
}

/* ft-btm-container */
.ft-btm-container {
      width: 100%; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
}

.ft-btm-inner {
      width: 1180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
}

/* ft-btm-left */
.ft-btm-left {
      color: var(--text-gray);
}

.sb-ft-info {
      display: flex;
      margin-bottom: 5px;
      font-size: 13px;
}

.sb-ft-info li:not(:last-child) {
      padding-right: 15px;
      display: flex;
}

.sb-ft-info li:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 9.5px;
      margin-top: 2.2px;
      margin-left: 15px;
      background-color: var(--text-gray);
}

.sb-ft-copyright {
      font-size: 14px;
}

/* ft-btm-right */
.ft-btm-right {
      width: 110px;
      display: flex;
      justify-content: space-between;
}

.sns-instagram {
      width: 50px;
      height: 50px;
      background-image: url('../images/instagram_1-1.png');
      transition: 0.3s;
      cursor: pointer;
}

.sns-instagram:hover {
      background-image: url('../images/instagram_1-2.png');
}

.ft-btm-right a {
      display: inline-block;
      width: 100%;
      height: 100%;
}

.sns-facebook {
      width: 50px;
      height: 50px;
      background-image: url('../images/facebook_1-1.png');
      transition: 0.3s;
      cursor: pointer;
}

.sns-facebook:hover {
      background-image: url('../images/facebook_1-2.png');
}

/* ======= media-query ======= */
/* max-width : 1380px */
@media screen and (max-width: 1380px) {
      .ft-top-inner,
      .ft-btm-inner {
            width: 1040px;
      }
}

/* max-width : 1240px */
@media screen and (max-width: 1240px) {
      .ft-top-inner {
            width: 1000px;
            padding-bottom: 25px;
      }
      .ft-top-inner ul {
            font-size: 13px;
      }
      .ft-btm-container {
            padding-top: 25px;
      }
      .ft-btm-inner {
            width: 1000px;
      }
      .ft-btm-right {
            width: 90px;
      }
      .sns-instagram,
      .sns-instagram:hover,
      .sns-facebook,
      .sns-facebook:hover {
            width: 40px;
            height: 40px;
            background-size: cover;
      }
}

/* max-width: 1180px */
@media screen and (max-width: 1180px) {
      .hd-container {
            width: 870px;
      }
      .lnb a {
            width: 143px;
            height: 40px;
            line-height: 40px;
      }
      .lnb > ul > li:hover::after {
            width: 143px;
      } 
      .sub-menu {
            height: 255px;
            padding-top: 8px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 940px;
      }
      .sb-ft-info {
            display: none;
      }
}

/* max-width : 1140px */
@media screen and (max-width: 1140px) {
      .gnb {
            width: 130px;
      }
      .gnb li:first-child::after {
            margin-left: 10px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 890px;
      }
      .ft-btm-right {
            width: 0;
      }
}

/* max-width : 1080px */
@media screen and (max-width: 1080px) {
      .hd-container {
            width: 780px;
      }
      .gnb li:first-child::after {
            width: 3px;
            height: 3px;
            margin-bottom: 2.5px;
      }
      .gnb li:nth-child(2) {
            margin-left: 0;
      }
      .lnb a {
            width: 128px;
            height: 35px;
            line-height: 35px;
      }
      .lnb > ul > li:hover::after {
            width: 128px;
      }
      .lnb > ul > li > a {
            font-size: 15px;
      }
      .sub-menu {
            height: 240px;
            padding-top: 16px;
      }
      .lnb .sub-menu a {
            font-size: 13.5px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 800px;
      }
      .sb-ft-copyright {
            font-size: 12px;
      }
}

/* max-width : 1040px */
@media screen and (max-width: 1040px) {
      .hd-container {
            width: 100%;
      }
      .gnb,
      .lnb {
            display: none;
      }
      .logo {
            top: 40px;
            left: 50px;
            transform: translateX(0);
      }
      .slide-menu-btn,
      .slide-menu {
            opacity: 1;
      } 
      .mobile-content {
            display: block;
      }
}

/* max-width : 1000px */
@media screen and (max-width: 1000px) {
      .slide-menu {
            padding: 0 30px 45px 30px;
      }
      .slide-menu > ul > li {
            width: calc(100% / 2 - 60px);
            padding-bottom: 30px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 760px;
      }
}

/* max-width : 940px */
@media screen and (max-width: 940px) {
      .ft-top-inner,
      .ft-btm-inner {
            width: 680px;
      }
}

/* max-width : 890px */
@media screen and (max-width: 890px) {
      .slide-menu > ul > li > a {
            width: 340px;
      }
}

/* max-width : 830px */
@media screen and (max-width: 830px) {
      .slide-menu > ul > li > a {
            width: 310px;
      }
}

/* max-width : 780px */
@media screen and (max-width: 780px) {
      body {
            background-color: var(--mobile-main-bg);
      }
      .slide-menu > ul > li > a {
            width: 280px;
      }
      .mobile-tabs {
            opacity: 1;
            animation: showUp 1s;
      }
      @keyframes showUp {
            0% {
                  top: 60%;
                  opacity: 0;
            }
            100% {
                  top: 50%;
                  opacity: 1;
            }
      }
      footer {
            height: 100px;
      }
      .ft-top-container {
            border-bottom: none;
      }
      .ft-top-inner {
            width: 100%;
            padding-top: 30px;
      }
      .ft-top-inner ul {
            justify-content: center;
      }
      .ft-btm-container {
            display: none;
      }
}

/* max-width : 700px */
@media screen and (max-width: 700px) {
      .slide-menu > ul > li > a {
            width: 250px;
      }
}

/* max-width : 650px */
@media screen and (max-width: 650px) {
      .slide-menu {
            padding: 0 45px 15px 45px;
      }
      .slide-menu > ul > li > a {
            width: 230px;
      }
      .slide-gnb {
            padding: 0 30px;
      }
      .slide-menu > ul > li > a {
            font-size: 18px;
      }
      .lnb-title span {
            top: 7px;
            font-size: 28px;
      }
      .slide-sub-menu a {
            font-size: 14px;
      }
}

/* max-width : 580px */
@media screen and (max-width: 580px) {
      .slide-menu {
            padding: 0 45px 5px 45px;
      }
      .slide-menu > ul > li > a {
            width: 185px;
      }
      .slide-gnb {
            padding: 0 0px;
      }
      .slide-menu > ul > li > a {
            font-size: 16px;
      }
      .lnb-title span {
            font-size: 26px;
      }
      .slide-sub-menu a {
            font-size: 13.5px;
      }
}

/* max-width : 520px */
@media screen and (max-width: 520px) {
      .logo {
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
      }
      .menu-btn {
            display: none;
      }
      .mobile-tabs {
            width: 350px;
      }
      footer {
            display: none;
      }
}


/* max-width : 460px */
@media screen and (max-width: 460px) {
      .mobile-tabs {
            width: 300px;
      }
      .mobile-tab p:nth-of-type(1) {
            width: 100px;
            font-size: 16px;
            padding-left: 12px;
      }
      .mobile-tab p:nth-of-type(2) {
            font-size: 12px;
      }
      .mobile-tab-icon img {
            width: 80px;
      }
}
