/* ======== main-hd  ========*/
.main-hd {
      width: 100%;
      display: flex;
      justify-content: center;
      border-top: 5px solid var(--primary-color);
      background-color: #fff;
}

/* ---- main-hd-bg (main-hdì˜ white-bg)---- */
.main-hd-bg {
      width: 100%;
      height: 0;
      /* height: 280px; */
      position: absolute;
      top: 176px;
      z-index: 2;
      border-top: 1px solid #37373746;
      background-color: #fff;
      box-shadow: #0000001a 0px 20px 25px -5px, #0000000a 0px 10px 10px -5px;
}

.hd-container {
      width: 1180px;
      height: auto;
      position: relative;
}

/* -- hd-top-container -- */
.hd-top-container {
      width: 100%;
      height: 125px;
      background-color: var(--white-color);
}

.hd-top-inner {
      width: 100%;
      display: flex;
}

/* logo */
.logo {
      position: absolute;
      top: 42px;
      left: 50%;
      transform: translateX(-50%);
}

.logo h1 {
      font-size: 0;
}

/* gnb */
.gnb {
      width: 125px;
      position: absolute;
      top: 55px;
      right: 0;
}

.gnb ul {
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.gnb li {
      font-size: 14px;
}

.gnb li:hover {
      color: var(--primary-color);
      font-weight: bolder;
}

.gnb li:first-child {
      display: flex;
      align-items: center;
}

.gnb li:first-child::after {
      content: "";
      display: inline-block;
      width: 4px;
      height: 4px;
      border-radius: 50%;
      margin-left: 17px;
      background-color: #0000003d;
}

/* -- hd-btm-container -- */
.hd-btm-container {
      width: 100%;
}

/* lnb */
.lnb {
      width: 100%;
      background-color: #fff;
}

/* lnb&sub-menu */
.lnb li {
      width: calc(1180px / 6);
      text-align: center;
}

.lnb > ul > li:hover > a {
      color: var(--primary-color);
}

.lnb > ul {
      width: 100%;
      position: relative;
      display: flex;
}

.lnb > ul > li {
      padding-bottom: 25px;
      font-size: 18px;
      font-weight: bolder;
}

/* sub-menu */
.sub-menu {
      height: 278px;
      position: absolute;
      top: 47px;
      z-index: 9;
      display: none;
      background-color: transparent;
}

.sub-menu > li {
      padding: 10px 0;
}

.sub-menu > li:first-child {
      padding-top: 26px;
}

.sub-menu a {
      font-size: 15px;
      font-weight: normal;
      color: var(--text-gray);
      transition: 0.5s;
}

.sub-menu a:hover {
      color: var(--primary-color);
      text-decoration: underline;
}

#finish > a {
      color: var(--primary-color);
      text-decoration: underline;
}

.mobile-menu-btn {
      width: 27px;
      height: 20px;
      position: absolute;
      top: 50px;
      left: 50px;
      z-index: 999;
      cursor: pointer;

}

.mobile-menu-btn:hover {
      background-color: orange;
}

.mobile-menu-btn-i {
      width: 100%;
      height: 100%;
      position: relative;
}

.mobile-menu-btn-i > div {
      position: absolute;
      left: 0;
      width: 100%;
      height: 3px;
      background-color: var(--primary-color);
}
.mobile-menu-btn-i > div:nth-child(1) {
      top: 0;
}
.mobile-menu-btn-i > div:nth-child(2) {
      top: 50%;
      transform: translateY(-50%);      
}
.mobile-menu-btn-i > div:nth-child(3) {
      bottom: 0;      
}
/* mobile */
.mobile-container {
      position: relative;
      display: block;
      width: 100%;
      height: 1000px;
      background-color: var(--mobile-main-bg);
}
/* mobile-gnb */
.mobile-menu {
      width: 550px;
      height: 700px;
      position: absolute;
      top: -135px;
      left: -50%;
      background-color: antiquewhite;
      z-index: 99999;
}

#accordionFlushExample {
      width: 300px;
}

.accordion-item:nth-child(1), #flush-headingOne,
.accordion-flush .accordion-item .first-accordion-button {
      border-radius: 30px 0 0 0;
}

.accordion-button.collapsed {
      transition: 2s;
}
#flush-collapseSix > .accordion-body,
.accordion-item:last-child,
.accordion-item:last-of-type .accordion-button.collapsed {
      border-radius: 0 0 30px 0;
}

.accordion-button:not(.collapsed) {
      color: var(--text-black);
      background-color: #fff;
}

.accordion-button:focus {
      box-shadow: none;
}
.mobile-lnb span {
      display: block;
      margin-right: 10px;
}
.mobile-lnb img {
      width: 26px;
}

.mobile-lnb .accordion-body {
      background-color: var(--mobile-main-bg);
      padding: 0 20px;
}

#mobile-lnb-sub {
      padding: 25px 0;
}

#mobile-lnb-sub li {
      width: fit-content;
      position: relative;
}

#mobile-lnb-sub a {
      display: block;
      font-size: 14px;
      text-indent: 4em;
}

#finish::before {
      content: "";
      position: absolute;
      top: 50%;
      left: 42px;
      transform: translateY(-50%) rotate(270deg);
      border-top: 6px solid #ffce32;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-bottom: 4px solid transparent;
      animation: clickAni 1s infinite;
}

#finish::after {
      content: "CLICK";
      width: fit-content;
      position: absolute;
      top: 50%;
      left: 7px;
      transform: translateY(-50%);
      display: block;
      padding: 2px 4px;
      border-radius: 6px;
      text-indent: 0;
      font-size: 4px;
      background-color: var(--point-color);
      animation: clickAni 1s infinite;
}

@keyframes clickAni {
      0% {
            opacity: 0;
      }
      100% {
            opacity: 1;
      }
}

#mobile-lnb-sub a:hover {
      color: var(--primary-color);
      text-decoration: underline;
}
.accordion button {
      font-weight: 700;
      padding: 20px 32px;
}

.accordion-button:not(.collapsed) {
      box-shadow: #0000000a 0px 3px 5px;
}

#mobile-lnb-sub li:not(:last-child) {
      margin-bottom: 5px;
}

.accordion-button::after {
      width: 15px;
      height: 15px;
      background-size: contain;
      background-image: url('../images/mb-lnb-open.png');
      background-position: center;
      transition: all 0.3s;
}

.accordion-button:not(.collapsed) {
      color: var(--primary-color);
}

.accordion-button:not(.collapsed)::after {
      transform: rotate(360deg);
      background-image: url('../images/mb-lnb-close.png');
}

/* mobile-slider */
.mobile-container .bx-wrapper {
      width: 640px;
      height: fit-content;
      margin: auto;
      position: relative;
}

.mobile-slider {
      width: 640px;
      height: fit-content;
      display: flex;
      margin: auto;
}

.mobile-slider > a {
      position: absolute;
      display: block;
      width: 100%;
      height: 100%;
}

.mobile-container .bx-pager {
      position: absolute;
      left: 50%;
      bottom: 50px;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
}

.mobile-container .bx-pager-item:not(:last-child) {
      margin-right: 10px;
}

.mobile-container .bx-pager.bx-default-pager a {
      width: 10px;
      height: 10px;
      display: block;
      border-radius: 5px;
      background: #fff;
      box-shadow: #959da533 0px 8px 24px;
      transition: 0.3s;
}

.mobile-container .bx-pager.bx-default-pager a:hover,
.mobile-container .bx-pager.bx-default-pager a.active,
.mobile-container .bx-pager.bx-default-pager a:focus {
      width: 30px;
      border-radius: 20px;
      background: #ffce32;
}

.mobile-container .bx-pager-item {
      font-size: 0;
      line-height: 0;
}

/* ======== mobile-tabs ========*/
.mobile-tabs {
      position: absolute;
      bottom: 125px;
      left: 50%;
      transform: translateX(-50%);
      width: 400px;
      display: flex;
      padding: 32px 10px 35px 10px;
      background-color: var(--white-color);
      border-radius: 30px 0 30px 0;
      box-shadow: 0px 7px 29px 0px var(--mobiletabs-sdw);
      z-index: 9999;
}

.mobile-tab {
      width: 50%;
      text-align: center;
      transition: 0.3s;
}

.mbt-bdr::after {
      content: "";
      display: block;
      width: 1px;
      height: 100%;
      background-color: var(--mobiletab-border);
}

.mobile-tab p:nth-of-type(1) {
      margin: auto;
      width: 125px;
      height: 35px;
      margin-bottom: 8px;
      padding-top: 13px;
      font-size: 18px;
      font-weight: 800;
      background-image: url('../images/sbm-hd-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
}

.mobile-tab p:nth-of-type(2) {
      font-size: 14px;
      color: var(--mobiletab-txt-2);
      margin-bottom: 22px;
}

.mobile-tab-icon img {
      width: 100px;
}

.mobile-tab:hover {
      transform: scale(1.05);
}


/* ======== footer ======== */
footer {
      width: 100%;
      height: 160px;
      display: flex;
      align-items: center;
      background-color: #292929;
}

.footer-container {
      width: 100%;
      margin: auto;
}

/* ft-top-container */
.ft-top-container {
      width: 100%;
      border-bottom: 1px solid var(--ft-border);
}

.ft-top-inner {
      width: 1180px;
      margin: auto;
      padding-bottom: 20px;
      color: var(--text-gray);
}

.ft-top-inner ul {
      display: flex;
      font-size: 15px;
}

.ft-top-inner li:not(:last-child) {
      margin-right: 30px;
}

.ft-top-inner li:nth-child(2) {
      font-weight: bold;
      color: var(--ft-white);
}

/* ft-btm-container */
.ft-btm-container {
      width: 100%; 
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 20px;
}

.ft-btm-inner {
      width: 1180px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: auto;
}

/* ft-btm-left */
.ft-btm-left {
      color: var(--text-gray);
}

.sb-ft-info {
      display: flex;
      margin-bottom: 5px;
      font-size: 13px;
}

.sb-ft-info li:not(:last-child) {
      padding-right: 15px;
      display: flex;
}

.sb-ft-info li:not(:last-child)::after {
      content: "";
      display: inline-block;
      width: 2px;
      height: 9.5px;
      margin-top: 2.2px;
      margin-left: 15px;
      background-color: var(--text-gray);
}

.sb-ft-copyright {
      font-size: 14px;
}

/* ft-btm-right */
.ft-btm-right {
      width: 110px;
      display: flex;
      justify-content: space-between;
}

.sns-instagram {
      width: 50px;
      height: 50px;
      background-image: url('../images/instagram_1-1.png');
      transition: 0.3s;
      cursor: pointer;
}

.sns-instagram:hover {
      background-image: url('../images/instagram_1-2.png');
}

.ft-btm-right a {
      display: inline-block;
      width: 100%;
      height: 100%;
}

.sns-facebook {
      width: 50px;
      height: 50px;
      background-image: url('../images/facebook_1-1.png');
      transition: 0.3s;
      cursor: pointer;
}

.sns-facebook:hover {
      background-image: url('../images/facebook_1-2.png');
}

/* ======= media-query ======= */

/* max-width : 1280px */ 
@media screen and (max-width: 1280px) {
      .gnb,
      .hd-btm-container,
      .main-hd-bg {
            display: none;
      }
      .hd-container {
            width: 100%;
      }
      .hd-top-container {
            position: relative;
            box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 10px;
            z-index: 1;
      }
      .logo {
            top: 44px;
      }
      .logo img {
            width: 180px;
      }
}

/* max-width : 1240px */
@media screen and (max-width: 1240px) {
      .sns-instagram,
      .sns-instagram:hover,
      .sns-facebook,
      .sns-facebook:hover {
            width: 40px;
            height: 40px;
            background-size: cover;
      }
}

/* max-width : 1040px */
/* @media screen and (max-width: 1040px) {
      .mobile-content {
            display: block;
      }
} */


/* max-width : 460px */
/* @media screen and (max-width: 460px) {
      .mobile-tabs {
            width: 300px;
      }
      .mobile-tab p:nth-of-type(1) {
            width: 100px;
            font-size: 16px;
            padding-left: 12px;
      }
      .mobile-tab p:nth-of-type(2) {
            font-size: 12px;
      }
      .mobile-tab-icon img {
            width: 80px;
      }
} */
