/* ======== wrapper  ========*/
.wrapper {
      width: 100%;
      height: 100%;
}

/* ======== main  ========*/
main {
      width: 100%;
      height: 440px;
      background-image: url('../images/main-banner-1.jpg');
      background-position: center center;
}

.main-container {
      width: 1280px;
      height: 440px;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
}

/* mobile-tabs */
.mobile-tabs {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 400px;
      display: flex;
      background-color: var(--white-color);
      padding: 35px 15px 25px 15px;
      border-radius: 30px 0 30px 0;
      box-shadow: 0px 7px 29px 0px var(--mobiletabs-sdw);
      opacity: 0;
}

.mobile-tab {
      width: 50%;
      text-align: center;
      transition: 0.3s;
}

.mobile-tab:nth-child(1) {
      border-right: 1px solid var(--mobiletab-border);
}

.mobile-tab p:nth-of-type(1) {
      margin: auto;
      width: 125px;
      height: 35px;
      margin-bottom: 8px;
      padding-top: 13px;
      font-size: 18px;
      font-weight: 600;
      background-image: url('../images/sbm-hd-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
}

.mobile-tab p:nth-of-type(2) {
      font-size: 14px;
      color: var(--mobiletab-txt-2);
      margin-bottom: 10px;
}

.mobile-tab-icon img {
      width: 100px;
}

.mobile-tab:hover {
      transform: scale(1.05);
}

.mobile-tab-icon-2 {
      padding-top: 8px;
}

/* main-banner-slider */
.main-banner-slider {
      width: 100px;
      position: absolute;
      right: 0;
      bottom: 62px;
}

.main-banner-slider ul {
      display: flex;
      justify-content: space-between;
}

.main-banner-slider li:not(:first-child) {
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background-color: var(--white-color);
      transition: 0.3s;
}

.main-banner-slider li:not(:first-child):hover {
      background-color: var(--point-color);
}

.main-banner-slider li:first-child {
      width: 30px;
      height: 10px;
      border-radius: 20px;
      background-color: var(--point-color);
}

/* quick-tab-container */
.quick-tab-container {
      width: 600px;
      height: 80px;
      position: absolute;
      right: 0;
      bottom: -40px;
      display: flex;
      background-color: transparent;
}

.quick-tab {
      width: 50%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: var(--primary-color);
      cursor: pointer;
}

.quick-tab:nth-child(1) {
      border-radius: 40px 0 0 0;
      background-color: var(--point-color);
}

.quick-tab:nth-child(2) {
      border-radius: 0 0 40px 0;
      color: var(--white-color);
}

.quick-tab-icon {
      margin-right: 10px;
      transition: 0.3s;
}

.quick-tab:hover .quick-tab-icon {
      transform: translateY(-3px);
}

.quick-tab-txt {
      font-size: 20px;
      font-weight: 600;
      transition: 0.2s;
}

.quick-tab:hover .quick-tab-txt {
      transform: translateY(-1px);
}

/* ======== section_sbm  ========*/
section.subway-menu {
      width: 100%;
      height: 800px;
      display: flex;
      align-items: center;
}

.sbm-container {
      position: relative;
      width: 1280px;
      margin: auto;
}

/* sbm-header */
.sbm-header {
      width: 100%;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 90px;
}

/* sbm-title */
.sbm-title {
      height: 60px;
      background-image: url('../images/sbm-hd-logo.png');
      background-repeat: no-repeat;
}

.sbm-title h2 {
      padding-top: 13px;
      padding-left: 18px;
      font-family: 'LeferiPoint-BlackA';
      font-size: 38px;
      font-weight: bolder;
}

/* sbm-list */
.sbm-list {
      padding-top: 15px;
}

.sbm-list ul {
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.sbm-list li {
      margin: 0 12px;
}

.sbm-list li:not(:last-child) {
      padding-right: 24px;
      border-right: 1px solid var(--text-black);
}

.sbm-list a {
      transition: 0.4s;
}

.sbm-list a:hover {
      color: var(--primary-color);
}

/* sbm-card-container */
.sbm-card-container {
      width: 100%;
      display: flex;
      justify-content: space-between;
}

.sbm-card {
      width: 310px;
      position: relative;
      cursor: pointer;
}

.sbm-card-inner {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      background-color: var(--white-color);
}

.card-img {
      width: 260px;
      margin: auto;
      background-color: var(--white-color);
}

.card-img img {
      width: 100%;
      height: 182px;
      transition: 0.4s;
}

.sbm-card:hover .card-img img {
      transform: scale(1.2);
}

.card-txt {
      width: 100%;
      height: 115px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      text-align: center;
      background-color: var(--white-color);
}

.card-title {
      margin-bottom: 13px;
      font-size: 18.5px;
      font-weight: 700;
}

.sbm-card:hover .card-title {
      margin-top: 30px;
}

.card-desc {
      line-height: 1.25em;
      font-size: 13.2px;
      color: var(--mobiletab-txt-2);
}

.card-desc-3 br:nth-child(1),
.card-desc-3 br:nth-child(3) {
      display: none;
}

.sbm-card:hover .card-desc {
      display: none;
}

.menu-more {
      width: 65px;
      height: 65px;
      position: absolute;
      top: 135px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
      border-radius: 50%;
      background-color: var(--point-color);
      box-shadow: 2px 3px 10px var(--menumore-shw);
      z-index: -1;
}

.menu-more span {
      font-size: 35px;
      font-weight: 600;
      color: var(--white-color);
      text-shadow: 1px 1px 1px var(--menumore-icon-sdw);
}

.sbm-card:hover .menu-more {
      z-index: 0;
}

/* sbm-slider-slider */
.sbm-slider-container {
      width: 115%;
      position: absolute;
      top: 250px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: space-between;
      align-items: center;
}

.sbm-slider-container div {
      width: 42px;
      height: 42px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      transition: 0.3s;
      cursor: pointer;
}

.sbm-slider-container div:hover {
      background-color: var(--point-color);
}

.sbm-slider-container span {
      font-size: 38px;
      font-weight: bolder;
      color: var(--sbm-slider);
      transition: 0.4s;
}

.sbm-slider-container span:hover {
      color: var(--sbm-slider-hv);
}

.sbm-slider-right span {
      padding-left: 5px;
}

/* ======== section_sbc  ========*/
section.subway-content {
      width: 100%;
      height: 950px;
      display: flex;
      align-items: center;
      background-image: url('../images/subway-content-bg.gif');
}

.sb-content-container {
      width: 1280px;
      margin: auto;
      padding-left: 55px;
}

.sb-contents {
      width: 100%;
}

.sb-contents-inner {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
}

/* sb-enjoy */
.sb-enjoy {
      width: 400px;
      height: 300px;
      margin-bottom: 30px;
      background-image: url('../images/sb-enjoy.png');
}

.sb-enjoy-inner {
      width: 100%;
      height: 100%;
      padding: 50px 35px;
}

.sb-enjoy-inner p {
      margin-bottom: 110px;
      font-size: 28px;
      font-weight: 900;
      line-height: 1.3em;
      letter-spacing: 0.02em;
      color: var(--white-color);
}

.sb-content-btn {
      padding: 8px 15px;
      border-radius: 20px;
      border: 2px solid var(--white-color);
      font-weight: 500;
      color: var(--white-color);
      transition: 0.2s;
}

.sb-enjoy-btn:hover {
      color: var(--sb-enjoy);
      font-weight: 600;
      background-color: var(--white-color);
}

/* sb-history */
.sb-history {
      width: 825px;
      height: 300px;
      margin-bottom: 30px;
      background-image: url('../images/sb-history.png');
}

.sb-history-inner {
      width: 100%;
      height: 300px;
      display: flex;
      justify-content: flex-end;
}

.sb-history-right {
      width: 400px;
      margin-right: 55px;
      padding: 50px 35px;
}

.sb-history-right p {
      margin-bottom: 110px;
      font-size: 28px;
      font-weight: 900;
      line-height: 1.3em;  
      letter-spacing: 0.05em;
      color: var(--white-color);
}

.sb-history-btn {
      padding: 8px 20px;
}

.sb-history-btn:hover {
      font-weight: 600;
      color: var(--sb-history);
      background-color: var(--white-color);
}

/* sb-news */
.sb-news {
      width: 870px;
      height: 300px;
      border-radius: 30px 0 30px 0;
      background-color: var(--white-color);
}

.sb-news-inner {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: space-between;
      padding: 50px 45px;
      border-radius: 30px 0 30px 0;
      background-color: var(--white-color);
}

.sb-news-txt {
      width: 30%;
      padding-top: 20px;
}

.sb-news-title {
      margin-bottom: 30px;
      padding-top: 26px;
      padding-left: 25px;
      font-family: 'LeferiPoint-BlackA';
      font-size: 28px;
      background-image: url('../images/sbm-hd-logo.png');
      background-repeat: no-repeat;
}

.sb-news-desc {
      padding-left: 25px;
      line-height: 1.3em;
      color: var(--sb-news-desc);
}

.sb-news-list {
      width: 60%;
      padding-top: 26px;
      background-color: var(--white-color);
}

.sb-news-list ul {
      margin-bottom: 35px;
}

.sb-news-list li {
      position: relative;
}

.sb-news-list li::after {
      content: "";
      position: absolute;
      display: block;
      width: 0;
      height: 1px;
      background-color: var(--primary-color);
      z-index: 9;
      transition: 0.4s;
}

.sb-news-list li:hover::after {
      width: 348px;
}

.sb-news-list li:nth-child(2):hover:after {
      width: 348px;
}

.sb-news-list li:nth-child(3):hover::after {
      width: 228px;
}

.sb-news-list li:not(:last-child) {
      margin-bottom: 25px;
}

.sb-news-list a {
      transition: 0.3s;
}

.sb-news-list a:hover {
      color: var(--primary-color);
}

.news-more {
      width: 60px;
      height: 15px;
      display: flex;
      align-items: center;
      font-size: 14px;
      color: var(--sb-news-desc);
      transition: 0.3s;
      cursor: pointer;
}

.news-more:hover {
      color: var( --sb-newsmore-hv);
      transform: translateX(3px);
}

.news-more span {
      display: none;
      margin-top: 3px;
      padding-left: 3px;
      font-size: 16px;
      transition: 0.3s;
}

.news-more:hover .news-more-icon {
      display: block;
}

/* sb-banner-sponsor */
.sb-banner-sponsor {
      width: 270px;
      height: 300px;
      margin-left: 30px;
      background-image: url('../images/sb-banner-sponsor.jpg');
}

/* ======== section_sb-quick-menu  ========*/
section.subway-quick-menu {
      width: 100%;
      height: 150px;
      display: flex;
      align-items: center;
}

.sb-qm-container {
      width: 1280px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin: auto;
}

.quick-menu-lists {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
}

.quick-menu {
      width: 235px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: 0.3s;
}

.quick-menu:hover {
      color: var(--primary-color);
}

.quick-menu:hover .quick-menu-icon,
.quick-menu:hover .quick-menu-txt {
      transform: translateY(-5px);
}

.quick-menu-icon {
      width: 70px;
      height: 70px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 15px;
      border-radius: 50%;
      background-color: var(--quickmenu-bg);
      box-shadow: 0px 0px 1px var(--quickmenu-sdw);
      transition: 0.4s;
}

.quick-menu img {
      width: 43px;
      height: 43px;
}

.quick-menu:nth-child(2) {
      width: 225px;
}

.quick-menu:nth-child(3) {
      width: 190px;
}

.quick-menu:nth-child(4) {
      width: 220px;
}

.quick-menu-txt {
      transition: 0.4s;
}

.quick-menu-txt p:nth-child(1) {
      margin-bottom: 5px;
      font-size: 18px;
      font-weight: 800;
}

.quick-menu-txt p:nth-child(2) {
      font-size: 14px;
}


/* max-width : 1550px  */
@media screen and (max-width: 1550px) {
      .sbm-slider-container {
            width: 110%;
      }
}

/* max-width : 1500px  */
@media screen and (max-width: 1500px) {
      .sbm-slider-container {
            width: 108%;
      }
}

/* max-width : 1460px  */
@media screen and (max-width: 1460px) {
      .sbm-slider-container {
           opacity: 0;
      }
}

/* max-width : 1400px  */
@media screen and (max-width: 1400px) {
      .sbm-slider-container {
            width: 100%;
            padding: 0 40px;
      }
      .sbm-card-container {
            gap: 20px;
      }
      .quick-tab-txt {
            font-size: 18px;
      }
}

/* max-width : 1380px */
@media screen and (max-width: 1380px) {
      main {
            height: 400px;
            background-size: cover;
      }
      .main-container {
            width: 1140px;
            height: 400px;
      }
      .quick-tab-container {
            width: 500px;
      }
      .sbm-container {
            width: 1140px;
      }
      .card-img {
            width: 240px;
      }
      .card-img img {
            height: 170px;
      }
      .sbm-card:hover .card-title {
            margin-top: 20px;
      }
      .menu-more {
            width: 60px;
            height: 60px;
            top: 115px;
      }
      .menu-more span {
            font-size: 32px;
      }
      .sb-content-container {
            width: 1140px;
            padding-left: 60px;
      }
      .sb-enjoy {
            width: 340px;
            height: 263px;
            margin-right: 40px;
            margin-bottom: 0;
            background-size: contain;
            background-repeat: no-repeat;
      }
      .sb-enjoy-inner {
            padding: 45px 33px;
      }      
      .sb-enjoy-inner p {
            margin-bottom: 85px;
            font-size: 24px;
            line-height: 1.2em;
      }
      .sb-content-btn {
            font-size: 13.8px;
      }
      .sb-history {
            width: 695px;
            margin-bottom: 0;
            background-size: contain;
            background-repeat: no-repeat;
      }
      .sb-history-right {
            width: 337px;
            margin-right: 46px;
            padding: 45px 33px;
      }
      .sb-history-right p {
            margin-bottom: 83px;
            font-size: 24px;
            line-height: 1.2em;  
            letter-spacing: 0.03em;
      }
      .sb-news {
            width: 710px;
            height: 270px;
            margin-right: 48px;
      }
      .sb-news-title {
            height: 60px;
            margin-bottom: 25px;
            padding-top: 30px;
            font-size: 24px;
      }
      .sb-news-desc {
            font-size: 13.8px;
      }
      .sb-news-list {
            padding-top: 20px;
            padding-left: 13px;
      }
      .sb-news-list ul {
            margin-bottom: 25px;
      }
      .sb-news-list li:not(:last-child) {
            margin-bottom: 22px;
      }
      .sb-news-list li:hover::after,
      .sb-news-list li:nth-child(2):hover:after {
            width: 325px;
      }
      .sb-news-list li:nth-child(3):hover::after {
            width: 215px;
      }
      .sb-news-list a {
            font-size: 15px;
      }
      .news-more span {
            font-size: 14.5px;
      }
      .sb-banner-sponsor {
            width: 240px;
            height: 270px;
            background-size: contain;
      }
      .sb-qm-container {
            width: 1140px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 1040px;
      }
}

/* max-width : 1240px */
@media screen and (max-width: 1240px) {
      main {
            height: 350px;
      }
      .main-container {
            width: 1040px;
            height: 350px;
      }
      .quick-tab-container {
            width: 500px;
      }
      .sbm-container {
            width: 1040px;
      }
      .sbm-title h2 {
            padding-top: 15px;
            padding-left: 23px;
            font-size: 34px;
      }
      .sbm-list {
            padding-top: 13px;
      }
      .card-img {
            width: 220px;
      }
      .card-img img {
            height: 160px;
      }
      .sbm-card:hover .card-img img {
            transform: scale(1.19);
      }
      .card-desc {
            font-size: 13px;
      }
      .card-desc-3 br:nth-child(1),
      .card-desc-3 br:nth-child(3) {
            display: block;
      }
      .card-desc-3 br:nth-child(2){
            display: none;
      }
      .menu-more {
            width: 55px;
            height: 55px;
            top: 110px;
      }
      .menu-more span {
            font-size: 30px;
      }
      .sbm-slider-container {
            opacity: 0;
      }
      section.subway-content {
            height: 900px;
      }
      .sb-content-container {
            width: 1040px;
            padding-left: 30px;
      }
      .sb-enjoy {
            width: 330px;
            height: 255px;
            margin-right: 5px;
            margin-bottom: 20px;
      }
      .sb-enjoy-inner {
            padding: 45px 38px;
      }      
      .sb-enjoy-inner p {
            margin-bottom: 80px;
            font-size: 22px;
            line-height: 1.25em;
      }
      .sb-content-btn {
            font-size: 13px;
      }
      .sb-history {
            width: 675px;
            height: 255px;
            margin-bottom: 20px;
      }
      .sb-history-right {
            width: 327px;
            margin-right: 45px;
            padding: 45px 38px;
      }
      .sb-history-right p {
            margin-bottom: 80px;
            font-size: 22px;
            line-height: 1.25em;
      }
      .sb-news {
            width: 700px;
            height: 255px;
            margin-right: 0;
      }
      .sb-banner-sponsor {
            width: 235px;
            height: 255px;
      }
      .sb-qm-container {
            width: 1040px;
      }
      .quick-menu {
            width: 225px;
      }
      .quick-menu:nth-child(2),
      .quick-menu:nth-child(4) {
            width: 210px;
      }
      .quick-menu:nth-child(3) {
            width: 180px;
      }
      .ft-top-inner {
            width: 1000px;
            padding-bottom: 25px;
      }
      .ft-top-inner ul {
            font-size: 13px;
      }
      .ft-btm-container {
            padding-top: 25px;
      }
      .ft-btm-inner {
            width: 1000px;
      }
      .ft-btm-right {
            width: 90px;
      }
      .sns-instagram,
      .sns-instagram:hover,
      .sns-facebook,
      .sns-facebook:hover {
            width: 40px;
            height: 40px;
            background-size: cover;
      }
}

/* max-width: 1180px */
@media screen and (max-width: 1180px) {
      .hd-container {
            width: 870px;
      }
      .lnb a {
            width: 143px;
            height: 40px;
            line-height: 40px;
      }
      .lnb > ul > li:hover::after {
            width: 143px;
      } 
      .sub-menu {
            height: 255px;
            padding-top: 8px;
      }
      main,
      .main-container  {
            height: 330px;
      }
      .quick-tab-container {
            width: 450px;
            height: 75px;
      }
      .quick-tab-txt {
            font-size: 17px;
      }
      .sbm-list {
            padding-top: 8px;
      }
      .sbm-list a {
            font-size: 15px;
      }
      .sbm-card {
            width: 300px;
      }
      .card-img {
            width: 210px;
      }
      .card-img img {
            height: 150px;
      }
      .sbm-card:hover .card-img img {
            transform: scale(1.18);
      }
      .card-title {
            margin-bottom: 15px;
            font-size: 17.5px;
      }
      .sbm-card:hover .card-title {
            margin-top: 30px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 940px;
      }
      .sb-ft-info {
            display: none;
      }
}

/* max-width : 1140px */
@media screen and (max-width: 1140px) {
      .gnb {
            width: 130px;
      }
      .gnb li:first-child::after {
            margin-left: 10px;
      }
      /* main */
      .main-container,
      .sbm-container {
            width: 940px;
      }
      .quick-tab-container {
            width: 400px;
            height: 70px;
      }
      section.subway-menu {
            height: 850px;
      }
      .sbm-header {
            margin-bottom: 80px;
      }
      .sbm-card-container {
            flex-wrap: wrap;
            justify-content: center;
      }
      .sbm-card {
            width: 45%;
            height: 250px;
      }
      .sbm-card:nth-child(1), 
      .sbm-card:nth-child(2) {
            margin-bottom: 18px;
      }
      .card-title {
            margin-bottom: 12px;
      }
      .sbm-card:hover .card-title {
            margin-top: 25px;
      }
      .card-desc-3 br:nth-child(1),
      .card-desc-3 br:nth-child(3) {
            display: none;
      }
      .card-desc-3 br:nth-child(2){
            display: block;
      }
      .menu-more {
            width: 50px;
            height: 50px;
      }
      .menu-more span {
            font-size: 25px;
      }
      .sbm-slider-container {
            top: 400px;
            padding: 0;
            opacity: 1;
      }
      section.subway-content {
            height: 800px;
      }
      .sb-content-container {
            width: 940px;
            padding-left: 25px;
      }
      .sb-enjoy {
            width: 290px;
            margin-right: 10px;
            margin-bottom: 0;
      }
      .sb-enjoy-inner {
            padding: 35px 30px;
      }   
      .sb-enjoy-inner p {
            margin-bottom: 72px;
            font-size: 20px;
            line-height: 1.3em;
      }
      .sb-content-btn {
            padding: 6px 15px;
      }
      .sb-history {
            width: 600px;
            margin-bottom: 0;
      }
      .sb-history-right {
            width: 290px;
            margin-right: 40px;
            padding: 35px 30px;
      }
      .sb-history-right p {
            margin-bottom: 77px;
            line-height: 1.3em;
            font-size: 20px;
      }
      .sb-news {
            width: 610px;
            height: 230px;
            margin-right: 5px;
      }
      .sb-news-txt {
            padding-top: 0;
      }
      .sb-news-title {
            height: 45px;
            margin-bottom: 18px;
            padding-top: 18px;
            font-size: 20px;
            background-size: contain;
      }
      .sb-news-desc {
            font-size: 13px;
      }
      .sb-news-list {
            padding-top: 0px;
            padding-left: 8px;
      }
      .sb-news-list ul {
            margin-bottom: 22px;
      }
      .sb-news-list li:not(:last-child) {
            margin-bottom: 19px;
      }
      .sb-news-list li:hover::after,
      .sb-news-list li:nth-child(2):hover:after {
            width: 293px;
      }
      .sb-news-list li:nth-child(3):hover::after {
            width: 193px;
      }
      .sb-news-list a {
            font-size: 13.5px;
      }
      .news-more {
            font-size: 13px;
      }
      .news-more span {
            font-size: 13.5px;
      }
      .sb-banner-sponsor {
            width: 215px;
            height: 230px;
      }
      .sb-qm-container {
            width: 940px;
      }
      .quick-menu {
            width: 200px;
      }
      .quick-menu:nth-child(2),
      .quick-menu:nth-child(4) {
            width: 185px;
      }
      .quick-menu:nth-child(3) {
            width: 160px;
      }
      .quick-menu-icon {
            width: 60px;
            height: 60px;
      }
      .quick-menu img {
            width: 35px;
            height: 35px;
      }
      .quick-menu-txt p:nth-child(1) {
            font-size: 16px;
      }
      .quick-menu-txt p:nth-child(2) {
            font-size: 13px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 890px;
      }
      .ft-btm-right {
            width: 0;
      }
}

/* max-width : 1080px */
@media screen and (max-width: 1080px) {
      .hd-container {
            width: 780px;
      }
      .gnb li:first-child::after {
            width: 3px;
            height: 3px;
            margin-bottom: 2.5px;
      }
      .gnb li:nth-child(2) {
            margin-left: 0;
      }
      .lnb a {
            width: 128px;
            height: 35px;
            line-height: 35px;
      }
      .lnb > ul > li:hover::after {
            width: 128px;
      }
      .lnb > ul > li > a {
            font-size: 15px;
      }
      .sub-menu {
            height: 240px;
            padding-top: 16px;
      }
      .lnb .sub-menu a {
            font-size: 13.5px;
      }
      main {
            height: 315px;
      }
      .main-container {
            width: 840px;
            height: 315px;
      }
      .main-banner-slider {
            display: none;
      }
      .quick-tab-container {
            width: 390px;
            height: 65px;
            bottom: -35px;
      }
      .quick-tab-icon {
            margin-right: 8px;
      }
      .quick-tab img {
            width: 28px;
      }
      .quick-tab-txt {
            font-size: 15px;
      }
      .sbm-container {
            width: 840px;
      }
      section.subway-content {
            height: 750px;
      }
      .sb-content-container {
            width: 840px;
            padding-left: 0;
      }
      .sb-enjoy {
            width: 270px;
            height: 200px;
            margin-right: 20px;
            margin-bottom: 38px;
      }
      .sb-enjoy-inner {
            padding: 35px 28px;
      } 
      .sb-enjoy-inner p {
            margin-bottom: 60px;
            font-size: 18px;
      }
      .sb-content-btn {
            padding: 6px 12px;
            font-size: 12px;
      }
      .sb-history {
            width: 550px;
            height: 200px;
            margin-bottom: 38px;
      }
      .sb-history-right {
            width: 270px;
            margin-right: 36px;
            padding: 35px 28px;
      }
      .sb-history-right p {
            margin-bottom: 62px;
            font-size: 18px;
      }
      .sb-news {
            width: 570px;
            height: 210px;
            margin-right: 10px;
      }
      .sb-news-title {
            height: 42px;
            margin-bottom: 20px;
            padding-top: 20px;
            font-size: 18px;
      }
      .sb-news-desc {
            font-size: 11.5px;
      }
      .sb-news-list {
            padding-left: 0;
      }
      .sb-news-list ul {
            margin-bottom: 16px;
      }
      .sb-news-list li:not(:last-child) {
            margin-bottom: 12px;
      }
      .sb-news-list li:hover::after,
      .sb-news-list li:nth-child(2):hover:after {
            width: 283px;
      }
      .sb-news-list li:nth-child(3):hover::after {
            width: 185px;
      }
      .sb-news-list a {
            font-size: 13px;
      }
      .news-more {
            font-size: 12px;
      }
      .news-more span {
            font-size: 12.5px;
      }
      .sb-banner-sponsor {
            width: 195px;
            height: 210px;
      }
      .sb-qm-container {
            width: 840px;
      }
      .quick-menu {
            width: 190px;
      }
      .quick-menu:nth-child(2),
      .quick-menu:nth-child(4) {
            width: 178px;
      }
      .quick-menu:nth-child(3) {
            width: 150px;
      }
      .quick-menu-icon {
            width: 50px;
            height: 50px;
      }
      .quick-menu img {
            width: 30px;
            height: 30px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 800px;
      }
      .sb-ft-copyright {
            font-size: 12px;
      }
}

/* max-width : 1040px */
@media screen and (max-width: 1040px) {
      .hd-container {
            width: 100%;
      }
      .gnb,
      .lnb {
            display: none;
      }
      .logo {
            top: 40px;
            left: 50px;
            transform: translateX(0);
      }
      .slide-menu-btn,
      .slide-menu {
            opacity: 1;
      }
      main,
      .main-container {
            height: 310px;
      }
      .sbm-title {
            height: 55px;
            background-size: contain;
      }
      .sbm-title h2 {
            padding-top: 20px;
            padding-left: 28px;
            font-size: 30px;
      }
      section.subway-content {
            height: 1200px;
      }
      .sb-contents-inner {
            padding-left: 50px;
      }
      .sb-enjoy {
            width: 825px;
            height: 300px;
            background-image: url('../images/sb-enjoy-2.png');
      }
      .sb-enjoy-inner {
            width: 100%;
            height: 100%;
            padding: 50px 35px;
      }
      .sb-enjoy-inner p {
            margin-bottom: 110px;
            font-size: 28px;
            line-height: 1.3em;
            letter-spacing: 0.02em;
      }
      .sb-content-btn {
            padding: 8px 15px;
            font-size: 14px;
      }
      .sb-history {
            width: 825px;
            height: 300px;
      }
      .sb-history-inner {
            width: 100%;
            height: 300px;
            display: flex;
            justify-content: flex-end;
      }
      .sb-history-right {
            width: 385px;
            margin-right: 52px;
            padding: 50px 35px;
      }
      .sb-history-right p {
            margin-bottom: 110px;
            font-size: 28px;
      }
      .sb-news {
            width: 735px;
            height: 300px;
      }
      .sb-news-txt {
            padding-top: 23px;
      }
      .sb-news-title {
            height: 60px;
            margin-bottom: 28px;
            padding-top: 28px;
            padding-left: 24px;
            font-size: 25px;
            background-size: auto;
      } 
      .sb-news-desc {
            padding-left: 25px;
            font-size: 14px;
      }
      .sb-news-list {
            padding-top: 15px;
      }
      .sb-news-list ul {
            margin-bottom: 35px;
      }
      .sb-news-list li:not(:last-child) {
            margin-bottom: 25px;
      }
      .sb-news-list li:hover::after {
            width: 348px;
      }
      .sb-news-list li:nth-child(2):hover:after {
            width: 348px;
      }
      .sb-news-list li:nth-child(3):hover::after {
            width: 228px;
      }
      .sb-news-list a {
            font-size: 16px;
      }
      .news-more {
            font-size: 14px;
      }
      .news-more span {
            font-size: 16px;
      }
      .sb-banner-sponsor {
            display: none;
      }     
}

/* max-width : 1000px */
@media screen and (max-width: 1000px) {
      .slide-menu {
            padding: 0 30px 45px 30px;
      }
      .slide-menu > ul > li {
            width: calc(100% / 2 - 60px);
            padding-bottom: 30px;
      }
      .sbm-container {
            width: 740px;
      }
      .sbm-list {
            padding-top: 18px;
      }
      .sbm-list a {
            font-size: 13px;
      }
      section.subway-content {
            height: 1000px;
      }
      .sb-content-container {
            width: 740px;
            padding-left: 10px;
      }
      .sb-enjoy {
            margin-bottom: 0;
      }
      .sb-enjoy-inner {
            padding: 40px 35px;
      }   
      .sb-enjoy-inner p {
            margin-bottom: 72px;
            font-size: 22px;
      }
      .sb-content-btn {
            font-size: 13px;
      }
      .sb-history {
            width: 800px;
            margin-bottom: 0;
      }
      .sb-history-right {
            width: 340px;
            margin-right: 40px;
            padding: 40px 35px;
      }
      .sb-history-right p {
            margin-bottom: 77px;
            font-size: 22px;
      }
      .sb-news {
            width: 634px;
            height: 230px;
            margin-right: 5px;
      }
      .sb-news-txt {
            padding-top: 0;
      }
      .sb-news-title {
            height: 45px;
            margin-bottom: 18px;
            padding-top: 20px;
            font-size: 20px;
            background-size: contain;
      }
      .sb-news-desc {
            font-size: 13px;
      }
      .sb-news-list {
            padding-top: 0px;
            padding-left: 8px;
      }
      .sb-news-list ul {
            margin-bottom: 22px;
      }
      .sb-news-list li:not(:last-child) {
            margin-bottom: 19px;
      }
      .sb-news-list li:hover::after,
      .sb-news-list li:nth-child(2):hover:after {
            width: 293px;
      }
      .sb-news-list li:nth-child(3):hover::after {
            width: 193px;
      }
      .sb-news-list a {
            font-size: 13.5px;
      }
      .news-more {
            font-size: 13px;
      }
      .news-more span {
            font-size: 13.5px;
      }
      .sb-qm-container  {
            width: 740px;
      }
      .quick-menu {
            width: 180px;
      }
      .quick-menu:nth-child(2),
      .quick-menu:nth-child(4) {
            width: 170px;
      }
      .quick-menu:nth-child(3) {
            width: 140px;
      }
      .quick-menu-icon {
            width: 50px;
            height: 50px;
            margin-right: 0;
      }
      .quick-menu img {
            width: 25px;
            height: 25px;
      }
      .quick-menu-txt p:nth-child(1) {
            font-size: 14px;
      }
      .quick-menu-txt p:nth-child(2) {
            font-size: 12px;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 760px;
      }
}

/* max-width : 940px */
@media screen and (max-width: 940px) {
      main,
      .main-container {
            height: 280px;
      }
      .slide-menu > ul > li > a {
            width: 360px;
      }
      .quick-tab-container {
            display: none;
      }
      .ft-top-inner,
      .ft-btm-inner {
            width: 680px;
      }
}

/* max-width : 890px */
@media screen and (max-width: 890px) {
      .slide-menu > ul > li > a {
            width: 340px;
      }
      .sbm-slider-container {
            opacity: 0;
      }
      section.subway-quick-menu {
            display: none;
      }
}

/* max-width : 830px */
@media screen and (max-width: 830px) {
      .slide-menu > ul > li > a {
            width: 310px;
      }
      .sbm-header {
            flex-direction: column;
            margin-bottom: 30px;
      }
      .sbm-title {
            margin-bottom: 25px;
      }
      .sbm-title h2 {
            font-size: 34px;
            padding-left: 20px;
      }
      .sbm-list a {
            font-size: 14px;
      }
}

/* max-width : 780px */
@media screen and (max-width: 780px) {
      body {
            background-color: var(--mobile-main-bg);
      }
      .wrapper {
            position: fixed;
      }
      .slide-menu > ul > li > a {
            width: 280px;
      }
      main {
            height: 660px;
            background-image: none;
            background-color: var(--mobile-main-bg);
      }
      .main-container {
            height: 660px;
      }
      .mobile-tabs {
            opacity: 1;
            animation: showUp 1s;
      }
      @keyframes showUp {
            0% {
                  top: 60%;
                  opacity: 0;
            }
            100% {
                  top: 50%;
                  opacity: 1;
            }
      }
      section.subway-menu,
      section.subway-content {
            display: none;
      }
      footer {
            height: 100px;
      }
      .ft-top-container {
            border-bottom: none;
      }
      .ft-top-inner {
            width: 100%;
            padding-top: 30px;
      }
      .ft-top-inner ul {
            justify-content: center;
      }
      .ft-btm-container {
            display: none;
      }
}


/* max-width : 700px */
@media screen and (max-width: 700px) {
      .slide-menu > ul > li > a {
            width: 250px;
      }
}

/* max-width : 650px */
@media screen and (max-width: 650px) {
      .slide-menu {
            padding: 0 45px 15px 45px;
      }
      .slide-menu > ul > li > a {
            width: 230px;
      }
      .slide-gnb {
            padding: 0 30px;
      }
      .slide-menu > ul > li > a {
            font-size: 18px;
      }
      .lnb-title span {
            top: 7px;
            font-size: 28px;
      }
      .slide-sub-menu a {
            font-size: 14px;
      }
}

/* max-width : 580px */
@media screen and (max-width: 580px) {
      .slide-menu {
            padding: 0 45px 5px 45px;
      }
      .slide-menu > ul > li > a {
            width: 185px;
      }
      .slide-gnb {
            padding: 0 0px;
      }
      .slide-menu > ul > li > a {
            font-size: 16px;
      }
      .lnb-title span {
            font-size: 26px;
      }
      .slide-sub-menu a {
            font-size: 13.5px;
      }
}

/* max-width : 520px */
@media screen and (max-width: 520px) {
      .logo {
            top: 40px;
            left: 50%;
            transform: translateX(-50%);
      }
      .menu-btn {
            display: none;
      }
      .mobile-tabs {
            width: 350px;
      }
      footer {
            display: none;
      }
}

/* max-width : 460px */
@media screen and (max-width: 460px) {
      .mobile-tabs {
            width: 300px;
      }
      .mobile-tab p:nth-of-type(1) {
            width: 100px;
            font-size: 16px;
            padding-left: 12px;
      }
      .mobile-tab p:nth-of-type(2) {
            font-size: 12px;
      }
      .mobile-tab-icon img {
            width: 80px;
      }
}


