body {
      background-color: var(--sub-body);
}
/* ======== sub-hd  ========*/
.sub-hd {
      width: 100%;
      height: 380px;
      position: relative;
      overflow: hidden;
      background-color: #f2b701;
}

.sub-hd-bg {
      width: 100%;
      height: 380px;
      position: absolute;
      left: 0;
      background-image: url('../images/smile-banner-bg.jpg');
      background-position: center center;
}

.bg-pic {
      position: absolute;
}

.bg-pic:nth-child(1) {
      width: 458px;
      height: 341px;
      top: 0;
      left: 130px;
      background-image: url('../images/smile-pic-01.png');
      animation: bigpicFirst 1s;
}

@keyframes bigpicFirst {
      0% {
            top: -300px;
            opacity: 0;
      }
      100% {
            top: 0;
            opacity: 1;
      }
}

.bg-pic:nth-child(2) {
      width: 649px;
      height: 386px;
      right: 120px;
      bottom: -130px;
      background-image: url('../images/smile-pic-02.png');
      animation: bigpicSecond 1s ease-in-out;
}

@keyframes bigpicSecond {
      0% {
            right: 50px;
            opacity: 0;
      }
      100% {
            right: 120px;
            opacity: 1;
      }
}

/* sub-hd-lnb */
.sub-hd-lnb-container {
      width: 100%;
      position: absolute;
      top: 0;
      border-bottom: 1px solid #ffffff48;
}

.sub-hd-lnb {
      width: 650px;
      margin: auto;
}

.sub-hd-lnb ul {
      display: flex;
      justify-content: space-evenly;
}

.sub-hd-lnb li {
      position: relative;
      display: flex;
      align-items: center;
      padding: 18px 0;
      color: var(--white-color);
}

.sub-hd-lnb li:hover {
      color: var(--point-color);
}

.sub-hd-lnb li::before {
      content: "";
      width: 0;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      background-color: var(--point-color);
      transition: 0.4s;
}

.sub-hd-lnb li::before {
      background-color: var(--point-color);
}

.sub-hd-lnb li:not(:nth-child(3)):hover::before {
      width: 55px;
}

.sub-hd-lnb li:nth-child(3):hover::before {
      width: 40px;
}

.sub-hd-lnb li:nth-child(5) {
      color: var(--point-color);
}

.sub-hd-lnb li:nth-child(5)::before {
      width: 55px;
}

.sub-hd-lnb li:not(:last-child):after {
      content: "";
      width: 4px;
      height: 4px;
      display: block;
      border-radius: 50%;
      margin-left: 25px;
      background-color: #dddddd;
}

.morning-subhdtxt-bg {
      position: absolute;
      width: 100px;
      height: 100px;
      top: 80px;
      left: 650px;
      background-image: url('../images/morning-subhd.png');
      background-size: cover;
}
/* sub-hd-txt */
.sub-hd-txt {
      width: 1180px;
      position: absolute;
      top: 125px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
      color: var(--white-color);
}

.sub-hd-txt p:nth-child(1) {
      font-family: 'LeferiPoint-BlackA';
      font-size: 68px;
      font-weight: 800;
      letter-spacing: -0.05em;
      animation: titleUp 0.4s;
}

@keyframes titleUp {
      0% {
           transform: translateY(50px);
           opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

.sub-hd-txt p:nth-child(2) {
      font-size: 16px;
      line-height: 22px;
      animation: descUp 0.6s;
}

@keyframes descUp {
      0% {
           transform: translateY(70px);
           opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

/* ======== menu.menu-tag-bx  ========*/
.menu-tag-bx {
      width: 1170px;
      height: 80px;
      position: relative;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      background-color: var(--white-color);
      box-shadow: rgba(17, 17, 26, 0.05) 0px 4px 16px,
                  rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.menu-tag-bx ul {
      width: 340px;
      height: 100%;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: auto;
}

.menu-tag-bx li:not(:last-child) {
      padding-right: 24px;
      border-right: 1px solid #a1a1a179;
}

.menu-tag-bx li:first-child a {
      color: var(--primary-color);
      font-weight: 600;
}

.menu-tag-bx a {
      font-weight: 600;
      color: #525252;
}

.menu-tag-bx a:hover {
      color: var(--primary-color);
      font-weight: 600;
}

/* ======== mobile-contents  ========*/
.mobile-content {
      width: 100%;
      height: 700px;
      position: relative;
      display: none;
}

.mobile-tabs {
      width: 400px;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      display: flex;
      background-color: var(--white-color);
      padding: 35px 15px 25px 15px;
      border-radius: 30px 0 30px 0;
      box-shadow: 0px 7px 29px 0px var(--mobiletabs-sdw);
}

.mobile-tab {
      width: 50%;
      text-align: center;
      transition: 0.3s;
}

.mobile-tab:nth-child(1) {
      border-right: 1px solid var(--mobiletab-border);
}

.mobile-tab p:nth-of-type(1) {
      margin: auto;
      width: 125px;
      height: 35px;
      margin-bottom: 8px;
      padding-top: 13px;
      font-size: 18px;
      font-weight: 600;
      background-image: url('../images/sbm-hd-logo.png');
      background-size: contain;
      background-repeat: no-repeat;
}

.mobile-tab p:nth-of-type(2) {
      font-size: 14px;
      color: var(--mobiletab-txt-2);
      margin-bottom: 10px;
}

.mobile-tab-icon img {
      width: 100px;
}

.mobile-tab:hover {
      transform: scale(1.03);
}

.mobile-tab-icon-2 {
      padding-top: 8px;
}

/* ======== menu-list-container  ========*/
.menu-list-container {
      width: 1170px;
      display: flex;
      flex-wrap: wrap;
      gap: 20px;
      margin: auto;
      padding: 55px 0 110px 0;
}

/* menu-item */
.menu-item {
      width: calc(1170px / 3 - 20px);
      height: 330px;
      position: relative;
      background-color: var(--white-color);
}

/* menu-front-item */
.menu-img {
      width: 240px;
      margin: auto;
      padding-top: 15px;
}

.menu-img img {
      width: 100%;
}

.menu-item-txt {
      width: 100%;
      text-align: center;
}

.menu-title {
      margin-bottom: 3px;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0.03em;
      color: var(--text-black);
}

.menu-title-eng {
      margin-bottom: 12px;
      font-size: 16px;
      color: var(--text-gray);
}

.menu-kcal {
      font-family: 'LeferiPoint-BlackA';
      font-size: 16px;
      font-weight: bold;
      letter-spacing: -0.05em;
      color: var(--point-color);
}

/* menu-back-item */
.menu-item:hover .menu-back-item {
      opacity: 1;
      cursor: pointer;
}

.menu-back-item {
      width: calc(1170px / 3 - 20px);
      height: 330px;
      position: absolute;
      top: 0;
      overflow: hidden;
      opacity: 0;
      background-color: var(--primary-color);
      transition: 0.2s;
}

.menu-back-inner {
      width: 100%;
      height: 330px;
      text-align: center;
      color: var(--white-color);
}

.menu-back-inner p:nth-child(1) {
      margin-bottom: 8px;
      padding-top: 60px;
      font-size: 22px;
      font-weight: 800;
      letter-spacing: 0.03em;
}

.menu-back-item .menu-back-inner .item-7-1,
.menu-back-item .menu-back-inner .item-11-1 {
      padding-top: 50px;
}

.menu-back-item .menu-back-inner .item-7-3,
.menu-back-item .menu-back-inner .item-11-3 {
      margin-bottom: 18px;
}

.menu-back-item:hover .menu-back-inner p:nth-child(1) {
      animation: txtFirstUp 0.6s;
}

@keyframes txtFirstUp {
      0% {
            transform: translateY(25px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

.menu-back-inner p:nth-child(2) {
      margin-bottom: 20px;
}

.menu-back-item:hover .menu-back-inner p:nth-child(2) {
      animation: txtSecondUp 0.7s;
}

@keyframes txtSecondUp {
      0% {
            transform: translateY(45px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

.menu-back-inner p:nth-child(3) {
      margin-bottom: 22px;
      font-size: 15px;
      font-weight: 100;
      line-height: 20px;
      color: var(--sdwback-txt-3);
}

.menu-back-item:hover .menu-back-inner p:nth-child(3) {
      animation: txtThirdUp 0.8s;
}

@keyframes txtThirdUp {
      0% {
            transform: translateY(65px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}

/* item-4 */
.menu-back-item .menu-back-inner .back-item-4-1 {
      padding-top: 50px;
}

.menu-back-item .menu-back-inner .back-item-4-3 {
      margin-bottom: 10px;
}

.icon-more {
      padding-left: 20px;
}

.menu-back-item:hover .icon-more {
      animation: moreUp 0.9s;
}

@keyframes moreUp {
      0% {
            transform: translateY(75px);
            opacity: 0;
      }
      100% {
            transform: translateY(0px);
            opacity: 1;
      }
}


/* ======= media-query ======= */
/* max-width: 1780px */
@media screen and (max-width: 1780px) {
      .bg-pic:nth-child(1) {
            left: 50px;
      }
      .bg-pic:nth-child(2) {
            right: 50px;
      }
      @keyframes bigpicSecond {
            0% {
                  right: 120px;
            }
            100% {
                  right: 50px;            
            }
      }
      .sub-hd-txt {
            width: 100%;
      }
}

/* max-width : 1380px */
@media screen and (max-width: 1380px) {
      .bg-pic:nth-child(1) {
            left: 0;
      }
      .bg-pic:nth-child(2) {
            right: 0;
      }
      @keyframes bigpicSecond {
            0% {
                  right: 50px;
                  opacity: 0;
            }
            100% {
                  right: 0;
                  opacity: 1;         
            }
      }
      .menu-tag-bx {
            width: 1000px;
      }
      .menu-list-container {
            width: 1070px;
            padding: 50px 0 100px 0;
      }
      .menu-item,
      .menu-back-item {
            width: calc(1070px / 3 - 20px);
            height: 300px;
      }
      .menu-img {
            width: 235px;
            padding-top: 10px;
      }
      .menu-back-inner p:nth-child(1) {
            padding-top: 48px;
      }
      .menu-topping-item .menu-back-inner p:nth-child(1) {
            padding-top: 55px;
      }
      .menu-back-inner p:nth-child(3) {
            margin-bottom: 20px;
            font-size: 14.5px;
            line-height: 18px;
      }
      .icon-more img {
            width: 90px;
      }
}

/* max-width : 1240px */
@media screen and (max-width: 1240px) {
      .menu-tag-bx {
            width: 870px;
      }
      .menu-list-container {
            width: 970px;
            gap: 12px;
      }
      .menu-item,
      .menu-back-item {
            width: calc(970px / 3 - 12px);
            height: 280px;
      }
      .menu-img {
            width: 205px;
            padding-top: 15px;
      }
      .menu-title {
            font-size: 18px;
      }
      .menu-title-eng {
            margin-bottom: 18px;
            font-size: 14px;
      }
      .menu-kcal {
            font-size: 14px;
      }
      .menu-back-inner p:nth-child(1) {
            font-size: 18px;
      }
      .menu-back-inner p:nth-child(2) {
            font-size: 14px;
      }
      .menu-back-inner p:nth-child(3) {
            font-size: 14px;
      }
}

/* max-width : 1040px */
@media screen and (max-width: 1040px) {
      .sub-hd {
            height: 320px;
            background-size: cover;
      }
      .sub-hd-txt {
            top: 115px;
      }
      .sub-hd-txt p:nth-child(1) {
            font-size: 55px;
      }
      .sub-hd-txt p:nth-child(2) {
            font-size: 15px;
      }
      .sub-hd-txt p:nth-child(2) {
            font-size: 12px;
            line-height: 18px;
      }
}

/* max-width : 1000px */
@media screen and (max-width: 1000px) {
      .sub-hd {
            display: none;
      }
      .menu-tag-bx,
      .menu-list-container {
            display: none;
      }
}