.sub-hd {
      width: 100%;
      border-top: 1px solid #e5e5e5;
      border-bottom: 1px solid #e5e5e5;
}

.sub-hd-container {
      width: 1180px;
      margin: auto;
}

.sub-hd-lnb {
      width: 650px;
      margin: auto;
}
.sub-hd-lnb ul {
      display: flex;
      justify-content: space-evenly;
}

.sub-hd-lnb li {
      position: relative;
      display: flex;
      align-items: center;
      color: #999999;
}

.sub-hd-lnb li:hover {
      color: var(--primary-color);
}

.sub-hd-lnb li::before {
      content: "";
      width: 0;
      height: 3px;
      position: absolute;
      left: 0;
      bottom: 0;
      display: block;
      background-color: var(--primary-color);
      transition: 0.4s;
}

.sub-hd-lnb li:nth-child(1):hover::before,
.sub-hd-lnb li:nth-child(2):hover::before {
      width: 115px;
}

.sub-hd-lnb li:nth-child(3):hover::before {
      width: 105px;
}

.sub-hd-lnb li:nth-child(4):hover::before {
      width: 90px;
}

.sub-hd-lnb li:not(:last-child):after {
      content: "";
      width: 4px;
      height: 4px;
      display: block;
      border-radius: 50%;
      margin-left: 25px;
      background-color: #dddddd;
}

.sub-hd-lnb li:nth-child(1) {
      color: var(--primary-color);
}

.sub-hd-lnb li:nth-child(1)::before {
      width: 115px;
}

.sub-hd-lnb a {
      display: block;
      line-height: 56px;
      height: 56px;
}

/* title */
.subTitle {
      height: 230px;
      line-height: 200px;
      text-align: center;
      background-color: var(--white-color);
}

.subTitle h2 {
      font-size: 38px;
      color: var(--text-black);
}


/* SECTION 01 */
#subway-use {
      width: 100%;
      height: 100%;
      position: relative;
      left: 0;
      background-color: #f6f6f6;
}

.sbu-container {
      width: 100%;
      height: 100%;
}

/* sbuMenu-tag-bx */
.sbuMenu-tag-bx {
      width: 1170px;
      height: 70px;
      position: absolute;
      display: flex;
      align-items: center;
      top: -35px;
      left: 50%;
      transform: translateX(-50%);
      box-shadow: #0000001a 0px 10px 50px;
      z-index: 2;
}

.sbuMenu-tag-bx > button {
      width: 50%;
      height: 100%;
      font-size: 19px;
      border: none;
      color: var(--text-gray);
      background-color: var(--white-color);
      cursor: pointer;
}

.sbuMenu-tag-bx > button.active {
      background-color: var(--primary-color);
      color: var(--white-color);
      transition: all 0.2s;
}

/* sbuMenu-contents */
.sbuMenu-contents {
      width: 100%;
      padding-top: 0px;
}

/* storeOrder-content */
.storeOrder-content {
      width: 100%;
      height: 765px;
}

.storeOrder-container {
      width: 1180px;
      height: fit-content;
      margin: auto;
}

.storeOrder-slider {
      position: relative;
      height: 420px;
      top: 220px;
}

.storeOrder-slider > div {
      position: absolute;
      left: 140%;
      transform: scale(0.75);
      transition: 0.8s;
}

.storeOrder-slider > div:nth-child(1) {
      left: 0;
      transform: scale(1);
}

.storeOrder-slider > div:nth-child(2) {
      left: 100%;
}

/* storeOrder-slider-controls */
.storeOrder-slider-controls {
      width: 75%;
      position: absolute;
      top: 53%;
      left: 50%;
      transform: translate( -50%,-53%);
      display: flex;
      justify-content: space-between;
}

.storeOrder-slider-controls > button {
      width: 45px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      border: none;
      background-color: transparent;
}

.storeOrder-slider-controls span {
      font-size: 30px;
      font-weight: bolder;
      cursor: pointer;
}

.storeOrder-slider-controls button.prev {
      padding-right: 3px;
}

.storeOrder-slider-controls button.next {
      padding-left: 3px;
}

.storeOrder-slider-controls .activeBtn {
      color: var(--text-black);
      background-color: var(--point-color);
}

.storeOrder-slider-pagers {
      width: 1170px;
      position: absolute;
      top: 80px;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      justify-content: center;
}

.pager-item {
      width: 75px;
      height: 75px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      color: #bbbbbb;
      background-color: var(--white-color);
      border: 4px solid #dddddd;
}

.storeOrder-slider-pagers .pager-item > p {
      display: block;
      font-family: 'LeferiPoint-BlackA';
      font-size: 13px;
}

.storeOrder-slider-pagers .pager-item > p:nth-child(1) {
      margin-top: 12px;
      letter-spacing: -0.05em;
}

.storeOrder-slider-pagers .pager-item > p:nth-child(2) {
      font-size: 20px;
}

.storeOrder-slider-pagers .btw-i.active {
      color: var(--primary-color);
}

.storeOrder-slider-pagers .btw-i {
      width: fit-content;
      height: fit-content;
      display: block;
      align-self: center;
      font-size: 50px;
      margin: 0 8px;
      color: #ddd;
}

.storeOrder-slider-pagers .currentPager {
      color: var(--white-color);
      background-color: var(--primary-color);
      border: 4px solid var(--primary-color);
      transition: 0.5s;
}

.storeOrder-slider-pagers .beforePager {
      border: 4px solid var(--primary-color);
      background-color: var(--white-color);
      transition: 0.5s;
}

.storeOrder-slider-pagers .pager-item.beforePager > p:nth-child(1) {
      color: var(--primary-color);
}

.storeOrder-slider-pagers .pager-item.beforePager > p:nth-child(2) {
      color: var(--text-black);
}

.storeOrder-stepPanel {
      width: 400px;
      height: 420px;
      position: absolute;
      top: 220px;
      right: 400px;
      background-color: var(--white-color);
      border: 1px solid #dddddd;
}

.storeOrder-stepPanel::before {
      content: '';
      position: absolute;
      top: 60px;
      left: -11px;
      display: block;
      width: 11px;
      height: 21px;
      background-image: url('../images/storeOrder-stepPanel-i.png');
}

.stepPanel-item {
      width: 100%;
      height: 100%;
      display: none;
      position: absolute;
      top: 0;
      left: 0;
      padding: 45px 42px 0 42px;
}

.stepPanel-item:nth-child(2) .stepPanel-contents > div > p:nth-child(1) > span {
      font-size: 16px;
}

.stepPanel-contents > p:nth-child(1) {
      font-family: 'LeferiPoint-BlackA';
      font-size: 15.5px;
      font-weight: bolder;
      letter-spacing: -0.05em;
      word-spacing: 0.2em;
      color: var(--primary-color);
}

.stepPanel-content {
      margin-top: 40px;
      opacity: 0;
}

.stepPanel-contents > div > p:nth-child(1) {
      position: relative;
      padding-bottom: 35px;
      font-size: 27px;
      font-weight: bold;
      color: var(--text-black);
}

.stepPanel-contents > div > p:nth-child(1)::after {
      content: '';
      position: absolute;
      display: block;
      width: 40px;
      height: 4px;
      bottom: 10px;
      background-color: var(--point-color);
}

.stepPanel-contents > div > p:nth-child(2) {
      margin-bottom: 14px;
      font-size: 16px;
      line-height: 26px;
      color: var(--text-gray);
}

.stepPanel-btns {
      width: 78%;
      height: fit-content;
      position: absolute;
      left: 50%;
      bottom: 40px;
      transform: translateX(-50%);
      display: flex;
      align-items: center;
      justify-content: space-between;
}

.stepPanel-btns > a {
      width: 140px;
      height: 38px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-left: 2px;
      font-size: 15px;
      font-weight: 600;
      color: #999999;
      border: 2px solid #bbbbbb;
      border-radius: 30px;
      transition: 0.3s;
}

.stepPanel-btns > a:hover {
      color: var(--white-color);
      background-color:#333;
      border-color: #333;
}

.stepPanel-btns > a > span {
      display: block;
      padding-left: 3px;
      font-weight: 600;
      font-size: 18px;
}

/* orderTip-content */
.orderTip-content {
      display: none;
      width: 100%;
      height: 2700px;
}

.orderTip-item {
      width: 100%;
      height: 900px;
      position: relative;
}

.orderTip-top {
      width: 100%;
      height: 510px;
      display: flex;
      background-size: cover;
      background-position: center center;
}

.orderTipTop-inner {
      width: 1170px;
      display: flex;
      position: relative;
      justify-content: space-between;
      align-items: flex-start;
      margin: auto;
      border: 1px solid red;
}

.orderTip-txt {
      margin-top: 15px;
}

.orderTip-txt > span {
      width: fit-content;
      display: block;
      margin-bottom: 35px;
      padding: 12px 26px;
      font-size: 22px;
      text-align: center;
      border-radius: 30px;
      background-color: #ff8201;
      color: var(--white-color);
}

.orderTip-txt > span > strong {
      font-weight: 900;
}

.orderTip-txt h3 {
      font-size: 54px;
      font-weight: 900;
      color: var(--white-color);
      margin-bottom: 20px;
}

.orderTip-txt p {
      font-size: 16px;
      line-height: 25px;
      text-align: left;
      color: var(--white-color);
}

.orderTipImg {
      border: 1px solid black;
      position: absolute;
      right: -500px;
      top: 50%;
      transform: translateY(-50%);
      opacity: 0;
}

.orderTipAni {
      right: 0;
      opacity: 1;
      transition: 0.5s;
}

/* orderTip-btm */
.orderTip-btm {
      width: 1170px;
      height: 450px;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      display: flex;
      flex-direction: column;
      align-items: center;
      background-color: var(--white-color);
      padding-top: 55px;
}

.orderTip-btm h4 {
      text-align: center;
      font-size: 22px;
      font-weight: 900;
      color: var(--text-black);
      margin-bottom: 25px;
      letter-spacing: -0.05em;
}

.orderTip-btm strong {
      font-family: 'LeferiPoint-BlackA';
      color: #ff8201;
      font-size: 20px;
      letter-spacing: -0.05em;
}

.tips {
      display: flex;
      justify-content: center;
      align-items: center;
}

.tip {
      width: 300px;
      height: 255px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      text-align: center;
}

.tip-dots {
      width: 45px;
      height: 5px;
      display: block;
      background-image: url('/images/bul-dots.png');
      background-size: cover;
}

.tip-img {
      width: 100%;
}

.tip-img > img {
      width: 300px;
      display: block;
}

.tip-txts {
      width: 100%;
      height: 82px;
}

.tip-title {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 10px;
}

.tip-title > img {
      display: block;
      margin-right: 10px;
}

.tip .tip-title > p {
      display: block;
      padding-top: 6px;
      font-family: 'LeferiPoint-BlackA';
      font-size: 17px;
      letter-spacing: -0.05em;
      color: var(--text-black);
}

.tip-txts p {
      font-size: 16px;
      font-weight: 300;
      line-height: 22px;
      color: var(--text-gray);
}



/* 스테이크&치즈 */
.orderTip-item:nth-child(1) .orderTip-top {
      background-image: url('/images/orderTipBg-1.jpg');
}

.orderTip-item:nth-child(1) .orderTip-txt h3,
.orderTip-item:nth-child(1) .orderTip-txt p {
      color: var(--text-black);
}
/* 로스트치킨 */
.orderTip-item:nth-child(2) .orderTip-top{
      background-image: url('/images/orderTipBg-2.jpg');
}

/* 써브웨이 클럽 */
.orderTip-item:nth-child(3) .orderTip-top{
      background-image: url('/images/orderTipBg-3.jpg');
}
