.sub-hd-bg {
      width: 100%;
      height: 380px;
      position: absolute;
      left: 0;
}

/* sub-hd-lnb */
.sub-hd-lnb-container {
      width: 100%;
      position: absolute;
      top: 0;
      border-bottom: 1px solid #ffffff48;
}

.sub-hd-lnb {
      width: 650px;
      margin: auto;
}

.sub-hd-lnb ul {
      display: flex;
      justify-content: space-evenly;
}

.sub-hd-lnb li {
      display: flex;
      align-items: center;
}

/* btw-dots-icon */
.sub-hd-lnb li:not(:last-child):after {
      content: "";
      width: 4px;
      height: 4px;
      display: block;
      border-radius: 50%;
      margin-left: 25px;
      background-color: #dddddd;
}

.sub-hd-lnb a {
      position: relative;
      display: block;
      line-height: 56px;
      height: 56px;
}

.sub-hd-lnb a::after {
      content: '';
      position: absolute;
      bottom: 0;
      display: block;
      width: 0;
      height: 3px;
      transition: 0.3s;
}

.sub-hd-lnb a:hover::after {
      width: 100%;
}

/* .sub-hd-lnb a:hover {
      color: var(--point-color);
      transition: 0.3s;
}

.sub-hd-lnb a.subHd-active {
      color: var(--point-color);
}

.sub-hd-lnb a.subHd-active::after {
      width: 100%;
} */