<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SUBWAY 비밀번호 찾기</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/subway-favicon/favicon-1.png" />
      <link rel="apple-touch-icon" href="/images/subway-favicon/favicon-1.png" />
      <link rel="stylesheet" href="/style/reset.css">
      <link rel="stylesheet" href="/style/common.css">
      <link rel="stylesheet" href="/style/subwayGnb/searchPw.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
      <!-- HEADER -->
      <header class="main-hd">
            <div class="main-hd-container">
                  <div class="main-hd-top">
                        <a href="/" class="logo">
                              <h1>SUBWAY<img src="/images/logo.png" alt="SUBWAY LOGO"></h1>
                        </a>
                        <div class="gnb">
                              <ul>
                                    <li><a href="/login">로그인</a></li>
                                    <li><a href="/register">회원가입</a></li>
                              </ul>
                        </div>
                        <div class="mbMenu-openBtn">
                              <span class="material-symbols-sharp">menu</span>
                        </div>
                  </div>
                  <div class="main-hd-btm">
                        <nav class="lnb">
                              <ul>
                                    <li id="main"><a href="#">메뉴소개</a>
                                          <ul class="sub-menu">
                                                <li id="finish"><a href="/sandwich">샌드위치</a></li>
                                                <li id="finish"><a href="/unit">랩 · 기타</a></li>
                                                <li id="finish"><a href="/salad">샐러드</a></li>
                                                <li id="finish"><a href="/morning">아침메뉴</a></li>
                                                <li id="finish"><a href="/smile">스마일썹</a></li>
                                                <li id="finish"><a href="/catering">단체메뉴</a></li>
                                          </ul>
                                    </li>
                                    <li id="main"><a href="#">이용방법</a>
                                          <ul class="sub-menu">
                                                <li><a href="/subwayUtilization">써브웨이 이용방법</a></li>
                                                <li><a href="/groupMenuUtilization">단체메뉴 이용방법</a></li>
                                                <li id="finish"><a href="/freshInfo">신선한 재료 소개</a></li>
                                                <li><a href="/appUtilizationMenu">App 이용방법</a></li>
                                          </ul>
                                    </li>
                                    <li id="main"><a href="#">새소식</a>
                                          <ul class="sub-menu">
                                                <li><a href="/eventPromotion">이벤트 · 프로모션</a></li>
                                                <li><a href="/newsNotice">뉴스 · 공지사항</a></li>
                                                <li><a href="/adSubway">광고영상</a></li>
                                          </ul>
                                    </li>
                                    <li id="main"><a href="#">써브웨이</a>
                                          <ul class="sub-menu">
                                                <li><a href="/histroySubway">써브웨이 역사</a></li>
                                                <li><a href="/promiseSubway">단체메뉴 약속</a></li>
                                                <li><a href="/artistSubway">샌드위치 아티스트 지원</a></li>
                                                <li><a href="/storeSearch">매장찾기</a></li>
                                          </ul>
                                    </li>
                                    <li id="main"><a href="#">가맹점</a>
                                          <ul class="sub-menu">
                                                <li><a href="/franchiseSubway">써브웨이 프랜차이즈</a></li>
                                                <li><a href="/franchiseFAQ">가맹관련 FAQ</a></li>
                                                <li><a href="/franchiseInquiry">가맹신청 · 문의</a></li>
                                                <li><a href="/branchGuide">자사안내</a></li>
                                                <li><a href="/franchiseInfo">사업설명회</a></li>
                                          </ul>
                                    </li>
                                    <li id="main"><a href="">온라인주문</a>
                                          <ul class="sub-menu">
                                                <li><a href="/FAST-SUB">FAST-SUB</a></li>
                                                <li><a href="/HOME-SUB">HOME-SUB</a></li>
                                                <li><a href="/groupOrder">단체주문</a></li>
                                          </ul>
                                    </li>
                              </ul>
                        </nav>
                  </div>
            </div>
      </header>
      <div class="main-hd-bg"></div>
      <!-- MOBILE CONTENT-->
      <section class="mobile-container">
            <div class="mobile-slider">
                  <a href="#"><img src="/images/mobile-banner-1.jpg" alt="" importance="high"></a>
                  <a href="#"><img src="/images/mobile-banner-2.jpg" alt="" importance="high"></a>
                  <a href="#"><img src="/images/mobile-banner-3.jpg" alt="" importance="high"></a>
                  <a href="#"><img src="/images/mobile-banner-4.jpg" alt="" importance="high"></a>
                  <a href="#"><img src="/images/mobile-banner-5.jpg" alt="" importance="high"></a>
            </div>
            <div class="mobile-tabs">
                  <a href="/FAST-SUB" class="mobile-tab">
                        <p>FAST-SUB</p>
                        <p>매장 선주문</p>
                        <div class="mobile-tab-icon"><img src="/images/mobile-tab-1.png" alt=""></div>
                  </a>
                  <span class="mbt-bdr"></span>
                  <a href="/HOME-SUB" class="mobile-tab">
                        <p>HOME-SUB</p>
                        <p>배달 주문</p>
                        <div class="mobile-tab-icon mobile-tab-icon-2"><img src="/images/mobile-tab-2.png" alt="">
                        </div>
                  </a>
            </div>
      </section>
      <div class="mobile-menu">
            <div class="mobile-menu-inner">
                  <div class="mb-menu-hd">
                        <a href=""><img src="/images/mobile-menu-logo.jpg" alt=""></a>
                        <div class="mb-menu-setting">
                              <a class="mb-menu-settingBtn" href="#"><span
                                          class="material-symbols-sharp">settings</span></a>
                              <span class="material-symbols-sharp mb-menu-closeBtn">close</span>
                        </div>
                  </div>
                  <div class="mobile-gnb">
                        <p>로그인해주세요.<br>아직 회원이 아니신가요?</p>
                        <ul>
                              <li><a href="/login">로그인</a></li>
                              <li><a href="/register">회원가입</a></li>
                        </ul>
                  </div>
                  <div class="mobile-myMenu">
                        <ul>
                              <li><a href="/FAST-SUB"><span class="myMenu-i"><img src="/images/mb-myMenu-1.png"
                                                      alt=""></span>FAST-SUB</a></li>
                              <li><a href="/HOME-SUB"><span class="myMenu-i"><img src="/images/mb-myMenu-2.png"
                                                      alt=""></span>HOME-SUB</a></li>
                              <li><a href="/groupOrder"><span class="myMenu-i"><img src="/images/mb-myMenu-3.png"
                                                      alt=""></span>단체주문</a></li>
                              <li><a href="subwayCard"><span class="myMenu-i"><img src="/images/mb-myMenu-4.png"
                                                      alt=""></span>써브카드</a></li>
                              <li><a href="/subwayCupon"><span class="myMenu-i"><img src="/images/mb-myMenu-5.png"
                                                      alt=""></span>쿠폰</a></li>
                              <li><a href="/subwayGift"><span class="myMenu-i"><img src="/images/mb-myMenu-6.png"
                                                      alt=""></span>e-Gift</a></li>
                        </ul>
                  </div>
                  <!-- mobile-lnb -->
                  <div class="mobile-lnb">
                        <div class="mb-lnb-item">
                              <button class="mb-lnb-header">
                                    <div class="mb-lnb-title">
                                          <img src="/images/mobile-lnb-1.png" alt="">
                                          <h3>메뉴소개</h3>
                                    </div>
                                    <div class="mb-lnb-btn">
                                          <span class="material-symbols-sharp">expand_more</span>
                                    </div>
                              </button>
                              <div class="mb-lnb-body">
                                    <ul>
                                          <li id="mb-finish"><a href="/sandwich">샌드위치</a></li>
                                          <li id="mb-finish"><a href="/unit">랩 · 기타</a></li>
                                          <li id="mb-finish"><a href="/salad">샐러드</a></li>
                                          <li id="mb-finish"><a href="/morning">아침메뉴</a></li>
                                          <li id="mb-finish"><a href="/smile">스마일썹</a></li>
                                          <li id="mb-finish"><a href="/group">단체메뉴</a></li>
                                    </ul>
                              </div>
                        </div>

                        <div class="mb-lnb-item">
                              <button class="mb-lnb-header">
                                    <div class="mb-lnb-title">
                                          <img src="/images/mobile-lnb-2.png" alt="">
                                          <h3>이용방법</h3>
                                    </div>
                                    <div class="mb-lnb-btn">
                                          <span class="material-symbols-sharp">expand_more</span>
                                    </div>
                              </button>
                              <div class="mb-lnb-body">
                                    <ul>
                                          <li id="mb-finish"><a href="/subwayUtilization">써브웨이 이용방법</a></li>
                                          <li><a href="/groupMenuUtilization">단체메뉴 이용방법</a></li>
                                          <li id="mb-finish"><a href="/freshInfo">신선한 재료 소개</a></li>
                                          <li><a href="/appUtilizationMenu">App 이용방법</a></li>
                                    </ul>
                              </div>
                        </div>

                        <div class="mb-lnb-item">
                              <button class="mb-lnb-header">
                                    <div class="mb-lnb-title">
                                          <img src="/images/mobile-lnb-3.png" alt="">
                                          <h3>새소식</h3>
                                    </div>
                                    <div class="mb-lnb-btn">
                                          <span class="material-symbols-sharp">expand_more</span>
                                    </div>
                              </button>
                              <div class="mb-lnb-body">
                                    <ul>
                                          <li><a href="/eventPromotion">이벤트 · 프로모션</a></li>
                                          <li><a href="/newsNotice">뉴스 · 공지사항</a></li>
                                          <li><a href="/adSubway">광고영상</a></li>
                                    </ul>
                              </div>
                        </div>

                        <div class="mb-lnb-item">
                              <button class="mb-lnb-header">
                                    <div class="mb-lnb-title">
                                          <img src="/images/mobile-lnb-4.png" alt="">
                                          <h3>써브웨이</h3>
                                    </div>
                                    <div class="mb-lnb-btn">
                                          <span class="material-symbols-sharp">expand_more</span>
                                    </div>
                              </button>
                              <div class="mb-lnb-body">
                                    <ul>
                                          <li><a href="/histroySubway">써브웨이 역사</a></li>
                                          <li><a href="/promiseSubway">단체메뉴 약속</a></li>
                                          <li><a href="/artistSubway">샌드위치 아티스트 지원</a></li>
                                          <li><a href="/storeSearch">매장찾기</a></li>
                                    </ul>
                              </div>
                        </div>

                        <div class="mb-lnb-item">
                              <button class="mb-lnb-header">
                                    <div class="mb-lnb-title">
                                          <img src="/images/mobile-lnb-5.png" alt="">
                                          <h3>가맹점</h3>
                                    </div>
                                    <div class="mb-lnb-btn">
                                          <span class="material-symbols-sharp">expand_more</span>
                                    </div>
                              </button>
                              <div class="mb-lnb-body">
                                    <ul>
                                          <li><a href="/franchiseSubway">써브웨이 프랜차이즈</a></li>
                                          <li><a href="/franchiseFAQ">가맹관련 FAQ</a></li>
                                          <li><a href="/branch-guide">자사안내</a></li>
                                          <li><a href="/franchiseInfo">사업설명회</a></li>
                                    </ul>
                              </div>
                        </div>

                        <div class="mb-lnb-item">
                              <button class="mb-lnb-header">
                                    <div class="mb-lnb-title">
                                          <img src="/images/mobile-lnb-6.png" alt="">
                                          <h3>고객센터</h3>
                                    </div>
                                    <div class="mb-lnb-btn">
                                          <span class="material-symbols-sharp">expand_more</span>
                                    </div>
                              </button>
                              <div class="mb-lnb-body">
                                    <ul>
                                          <li><a href="/FAQ">FAQ</a></li>
                                          <li><a href="/inquiry">1:1 문의</a></li>
                                    </ul>
                              </div>
                        </div>
                  </div>
            </div>
      </div>
      <div class="mobileMenuBg"></div>
      <!-- SECTION -->
      <section class="">
            <h3>비밀번호 찾기</h3>
      </section>
      <!-- FOOTER -->
      <footer>
            <div class="footer-container">
                  <div class="ft-top-container">
                        <div class="ft-top-inner">
                              <ul>
                                    <li><a href="">이용약관</a></li>
                                    <li><a href="">개인정보처리방침</a></li>
                                    <li><a href="">써브카드</a></li>
                                    <li><a href="">점주관리자</a></li>
                                    <li><a href="">Subway Listens</a></li>
                              </ul>
                        </div>
                  </div>
                  <div class="ft-btm-container">
                        <div class="ft-btm-inner">
                              <div class="ft-btm-left">
                                    <ul class="sb-ft-info">
                                          <li>서울시 서초구 강남대로 535 프린스빌딩 15층</li>
                                          <li>대표 : INSOO CHO(인수조)</li>
                                          <li>전화 : 02-797-5036</li>
                                          <li>사업자등록번호 : 101-84-04143</li>
                                    </ul>
                                    <p class="sb-ft-copyright">SUBWAY® is a Registered Trademark of Subway IP LLC.
                                          &copy; 2021 Subway IP LLC. All Rights Reserved.</p>
                              </div>
                              <div class="ft-btm-right">
                                    <div class="sns-instagram">
                                          <a href="https://www.instagram.com/subwaykorea/" target="_blank"></a>
                                    </div>
                                    <div class="sns-facebook">
                                          <a href="https://www.facebook.com/Subwaykr" target="_blank"></a>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
      </footer>
      <script src="/script/jquery-3.6.1.js"></script>
      <script src="/script/jquery-ui.js"></script>
      <script src="/script/jquery.bxslider.js"></script>
      <script src="/script/subway/common.js"></script>
</body>

</html>