<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SUBWAY - 써브웨이 이용방법</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/subway-favicon/favicon-1.png" />
      <link rel="apple-touch-icon" href="/images/subway-favicon/favicon-1.png" />
      <link rel="stylesheet" href="/style/reset.css">
      <link rel="stylesheet" href="/style/common.css">
      <link rel="stylesheet" href="/style/utilizationSubway/subwayUtilization.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
      <div class="wrapper">
            <!-- HEADER -->
            <header class="main-hd">
                  <div class="main-hd-container">
                        <div class="main-hd-top">
                              <a href="/" class="logo">
                                    <h1>SUBWAY<img src="/images/logo.png" alt="SUBWAY LOGO"></h1>
                              </a>
                              <div class="gnb">
                                    <ul>
                                          <li><a href="">로그인</a></li>
                                          <li><a href="">회원가입</a></li>
                                    </ul>
                              </div>
                              <div class="mbMenu-openBtn">
                                    <span class="material-symbols-sharp">menu</span>
                              </div>
                        </div>
                        <div class="main-hd-btm">
                              <nav class="lnb">
                                    <ul>
                                          <li id="main"><a href="#">메뉴소개</a>
                                                <ul class="sub-menu">
                                                      <li id="finish"><a href="/sandwich">샌드위치</a></li>
                                                      <li id="finish"><a href="/unit">랩 · 기타</a></li>
                                                      <li id="finish"><a href="/salad">샐러드</a></li>
                                                      <li id="finish"><a href="/morning">아침메뉴</a></li>
                                                      <li id="finish"><a href="/smile">스마일썹</a></li>
                                                      <li id="finish"><a href="/catering">단체메뉴</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">이용방법</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/subwayUtilization">써브웨이 이용방법</a></li>
                                                      <li><a href="/groupMenuUtilization">단체메뉴 이용방법</a></li>
                                                      <li id="finish"><a href="/freshInfo">신선한 재료 소개</a></li>
                                                      <li><a href="/appUtilizationMenu">App 이용방법</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">새소식</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/eventPromotion">이벤트 · 프로모션</a></li>
                                                      <li><a href="/newsNotice">뉴스 · 공지사항</a></li>
                                                      <li><a href="/adSubway">광고영상</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">써브웨이</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/histroySubway">써브웨이 역사</a></li>
                                                      <li><a href="/promiseSubway">단체메뉴 약속</a></li>
                                                      <li><a href="/artistSubway">샌드위치 아티스트 지원</a></li>
                                                      <li><a href="/storeSearch">매장찾기</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">가맹점</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/franchiseSubway">써브웨이 프랜차이즈</a></li>
                                                      <li><a href="/franchiseFAQ">가맹관련 FAQ</a></li>
                                                      <li><a href="/franchiseInquiry">가맹신청 · 문의</a></li>
                                                      <li><a href="/branchGuide">자사안내</a></li>
                                                      <li><a href="/franchiseInfo">사업설명회</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="">온라인주문</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/FAST-SUB">FAST-SUB</a></li>
                                                      <li><a href="/HOME-SUB">HOME-SUB</a></li>
                                                      <li><a href="/groupOrder">단체주문</a></li>
                                                </ul>
                                          </li>
                                    </ul>
                              </nav>
                        </div>
                  </div>
            </header>
            <div class="main-hd-bg"></div>
            <!-- MOBILE CONTENT-->
            <section class="mobile-container">
                  <div class="mobile-slider">
                        <a href="#"><img src="/images/mobile-banner-1.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-2.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-3.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-4.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-5.jpg" alt="" importance="high"></a>
                  </div>
                  <div class="mobile-tabs">
                        <a href="" class="mobile-tab">
                              <p>FAST-SUB</p>
                              <p>매장 선주문</p>
                              <div class="mobile-tab-icon"><img src="/images/mobile-tab-1.png" alt=""></div>
                        </a>
                        <span class="mbt-bdr"></span>
                        <a href="" class="mobile-tab">
                              <p>HOME-SUB</p>
                              <p>배달 주문</p>
                              <div class="mobile-tab-icon mobile-tab-icon-2"><img src="/images/mobile-tab-2.png" alt="">
                              </div>
                        </a>
                  </div>
            </section>
            <div class="mobile-menu">
                  <div class="mobile-menu-inner">
                        <div class="mb-menu-hd">
                              <a href=""><img src="/images/mobile-menu-logo.jpg" alt=""></a>
                              <div class="mb-menu-setting">
                                    <a class="mb-menu-settingBtn" href=""><span
                                                class="material-symbols-sharp">settings</span></a>
                                    <span class="material-symbols-sharp mb-menu-closeBtn">close</span>
                              </div>
                        </div>
                        <div class="mobile-gnb">
                              <p>로그인해주세요.<br>아직 회원이 아니신가요?</p>
                              <ul>
                                    <li><a href="">로그인</a></li>
                                    <li><a href="">회원가입</a></li>
                              </ul>
                        </div>
                        <div class="mobile-myMenu">
                              <ul>
                                    <li><a href=""><span class="myMenu-i"><img src="/images/mb-myMenu-1.png"
                                                            alt=""></span>FAST-SUB</a></li>
                                    <li><a href=""><span class="myMenu-i"><img src="/images/mb-myMenu-2.png"
                                                            alt=""></span>HOME-SUB</a></li>
                                    <li><a href=""><span class="myMenu-i"><img src="/images/mb-myMenu-3.png"
                                                            alt=""></span>단체주문</a></li>
                                    <li><a href=""><span class="myMenu-i"><img src="/images/mb-myMenu-4.png"
                                                            alt=""></span>써브카드</a></li>
                                    <li><a href=""><span class="myMenu-i"><img src="/images/mb-myMenu-5.png"
                                                            alt=""></span>쿠폰</a></li>
                                    <li><a href=""><span class="myMenu-i"><img src="/images/mb-myMenu-6.png"
                                                            alt=""></span>e-Gift</a></li>
                              </ul>
                        </div>
                        <!-- mobile-lnb -->
                        <div class="mobile-lnb">
                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-1.png" alt="">
                                                <h3>메뉴소개</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li id="mb-finish"><a href="/sdw">샌드위치</a></li>
                                                <li id="mb-finish"><a href="/wrap">랩 · 기타</a></li>
                                                <li id="mb-finish"><a href="/salad">샐러드</a></li>
                                                <li id="mb-finish"><a href="/morning">아침메뉴</a></li>
                                                <li id="mb-finish"><a href="/smile">스마일썹</a></li>
                                                <li id="mb-finish"><a href="/group">단체메뉴</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-2.png" alt="">
                                                <h3>이용방법</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/sub-use">써브웨이 이용방법</a></li>
                                                <li><a href="/gm-use">단체메뉴 이용방법</a></li>
                                                <li id="mb-finish"><a href="/freshInfo">신선한 재료 소개</a></li>
                                                <li><a href="/appUtilizationMenu">App 이용방법</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-3.png" alt="">
                                                <h3>새소식</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/eventPromotion">이벤트 · 프로모션</a></li>
                                                <li><a href="/newsNotice">뉴스 · 공지사항</a></li>
                                                <li><a href="/adSubway">광고영상</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-4.png" alt="">
                                                <h3>써브웨이</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/histroySubway">써브웨이 역사</a></li>
                                                <li><a href="/promiseSubway">단체메뉴 약속</a></li>
                                                <li><a href="artistSubway">샌드위치 아티스트 지원</a></li>
                                                <li><a href="/storeSearch">매장찾기</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-5.png" alt="">
                                                <h3>가맹점</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/franchiseSubway">써브웨이 프랜차이즈</a></li>
                                                <li><a href="/franchiseFAQ">가맹관련 FAQ</a></li>
                                                <li><a href="/branch-guide">자사안내</a></li>
                                                <li><a href="/franchiseInfo">사업설명회</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-6.png" alt="">
                                                <h3>고객센터</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/FAQ">FAQ</a></li>
                                                <li><a href="/inquiry">1:1 문의</a></li>
                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="mobileMenuBg"></div>
            <!-- SUB-HD -->
            <div class="sub-hd">
                  <div class="sub-hd-container">
                        <nav class="sub-hd-lnb">
                              <ul>
                                    <li><a href="/subwayUtilization">써브웨이 이용방법</a></li>
                                    <li><a href="/groupMenuUtilization">단체메뉴 이용방법</a></li>
                                    <li><a href="/freshInfo">신선한 재료 소개</a></li>
                                    <li><a href="/appUtilizationMenu">APP 이용방법</a></li>
                              </ul>
                        </nav>
                  </div>
            </div>
            <!-- TITLE -->
            <div class="subTitle">
                  <h2>써브웨이 이용방법</h2>
            </div>
            <!-- SECTION -->
            <section id="subway-use">
                  <div class="sbu-container">
                        <!-- 써브웨이 이용방법 메뉴 -->
                        <div class="sbuMenu-tag-bx">
                              <button>매장에서 주문하기</button>
                              <button>주문 TIP</button>
                        </div>
                        <div class="sbuMenu-contents">
                              <!-- 매장에서 주문하기 -->
                              <div class="storeOrder-content">
                                    <div class="storeOrder-container">
                                          <div class="storeOrder-slider">
                                                <div><img src="/images/storeOrder-01.png" alt="storeOrderTip"></div>
                                                <div><img src="/images/storeOrder-02.png" alt="storeOrderTip"></div>
                                                <div><img src="/images/storeOrder-03.png" alt="storeOrderTip"></div>
                                                <div><img src="/images/storeOrder-04.png" alt="storeOrderTip"></div>
                                                <div><img src="/images/storeOrder-05.png" alt="storeOrderTip"></div>
                                          </div>
                                          <div class="storeOrder-slider-controls">
                                                <button class="prev">
                                                      <span class="material-symbols-sharp">chevron_left</span>
                                                </button>
                                                <button class="next">
                                                      <span class="material-symbols-sharp">chevron_right</span>
                                                </button>
                                          </div>
                                          <div class="storeOrder-slider-pagers">
                                                <div class="pager-item">
                                                      <p>STEP</p>
                                                      <p>1</p>
                                                </div>
                                                <span class="material-symbols-sharp btw-i">more_horiz</span>
                                                <div class="pager-item">
                                                      <p>STEP</p>
                                                      <p>2</p>
                                                </div>
                                                <span class="material-symbols-sharp btw-i">more_horiz</span>
                                                <div class="pager-item">
                                                      <p>STEP</p>
                                                      <p>3</p>
                                                </div>
                                                <span class="material-symbols-sharp btw-i">more_horiz</span>
                                                <div class="pager-item">
                                                      <p>STEP</p>
                                                      <p>4</p>
                                                </div>
                                                <span class="material-symbols-sharp btw-i">more_horiz</span>
                                                <div class="pager-item">
                                                      <p>STEP</p>
                                                      <p>5</p>
                                                </div>
                                          </div>
                                          <div class="storeOrder-stepPanel">
                                                <div class="stepPanel-item">
                                                      <div class="stepPanel-contents">
                                                            <p>STEP 1</p>
                                                            <div class="stepPanel-content">
                                                                  <p>메뉴 선택</p>
                                                                  <p>메뉴를 고르세요.<br>샌드위치(15cm 또는 30cm)와<br>샐러드 중 선택 가능합니다.
                                                                  </p>
                                                            </div>
                                                            <div class="stepPanel-btns">
                                                                  <a href="#">샌드위치 메뉴
                                                                        <span
                                                                              class="material-symbols-sharp">search</span>
                                                                  </a>
                                                                  <a href="#">샐러드 메뉴
                                                                        <span
                                                                              class="material-symbols-sharp">search</span>
                                                                  </a>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="stepPanel-item">
                                                      <div class="stepPanel-contents">
                                                            <p>STEP 2</p>
                                                            <div class="stepPanel-content">
                                                                  <p>빵 선택 <span>(샐러드 선택 시 제외)</span></p>
                                                                  <p>매장에서 직접 구운 6가지 종류 중<br>
                                                                        고객님이 원하는 빵으로<br>
                                                                        추가비용 없이 선택 가능합니다.</p>
                                                            </div>
                                                            <div class="stepPanel-btns">
                                                                  <a href="#">빵 종류
                                                                        <span
                                                                              class="material-symbols-sharp">search</span>
                                                                  </a>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="stepPanel-item">
                                                      <div class="stepPanel-contents">
                                                            <p>STEP 3</p>
                                                            <div class="stepPanel-content">
                                                                  <p>추가토핑 선택</p>
                                                                  <p>나만의 메뉴를 더욱 풍성하게 즐기세요.</p>
                                                            </div>
                                                            <div class="stepPanel-btns">
                                                                  <a href="#">추가토핑 메뉴
                                                                        <span
                                                                              class="material-symbols-sharp">search</span>
                                                                  </a>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="stepPanel-item">
                                                      <div class="stepPanel-contents">
                                                            <p>STEP 4</p>
                                                            <div class="stepPanel-content">
                                                                  <p>야채&소스 선택</p>
                                                                  <p>나만의 스타일을 완성하는 단계!<br>
                                                                        원하지 않는 야채는 빼고<br>좋아하는 야채는 더하세요.<br>
                                                                        오늘의 기분에 맞는 소스를 선택해주세요.</p>
                                                            </div>
                                                            <div class="stepPanel-btns">
                                                                  <a href="#">야채 종류
                                                                        <span
                                                                              class="material-symbols-sharp">search</span>
                                                                  </a>
                                                                  <a href="#">소스 종류
                                                                        <span
                                                                              class="material-symbols-sharp">search</span>
                                                                  </a>
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="stepPanel-item">
                                                      <div class="stepPanel-contents">
                                                            <p>STEP 5</p>
                                                            <div class="stepPanel-content">
                                                                  <p>세트 선택</p>
                                                                  <p>세트로 구매하시면 할인혜택을<br>
                                                                        받으실 수 있습니다. 세트로<br>
                                                                        더욱 든든하고 알차게 즐기세요.</p>
                                                            </div>
                                                            <div class="stepPanel-btns">
                                                                  <a href="#">스마일 썹
                                                                        <span
                                                                              class="material-symbols-sharp">search</span>
                                                                  </a>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                              <!-- 주문 TIP -->
                              <div class="orderTip-content">
                                    <div class="orderTip-container">
                                          <!-- 스테이크 & 치즈 -->
                                          <div class="orderTip-item">
                                                <div class="orderTip-top">
                                                      <div class="orderTipTop-inner">
                                                            <div class="orderTip-txt">
                                                                  <span><strong>완벽한 한끼</strong>를 원하신다면?</span>
                                                                  <h3>스테이크 & 치즈</h3>
                                                                  <p>고급스러운 스테이크와 고소하고 진한 치즈의 콜라보
                                                                        <br>신선한 야채와 함께 푸짐하고 완벽한 한끼가 완성됩니다!
                                                                        <br>다양한 토핑을 추가해 나만의 한끼 메뉴를 즐겨보세요.
                                                                  </p>
                                                            </div>
                                                            <div class="orderTipImg">
                                                                  <img src="/images/order-sdw-1.png" alt="">
                                                            </div>
                                                      </div>
                                                </div>
                                                
                                                <div class="orderTip-btm">
                                                      <h4>더 맛있게 즐기는 <strong>TIP</strong></h4>
                                                      <div class="tips">
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-1_1.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-add.png" alt="">
                                                                              <p>CHEESE</p>
                                                                        </div>
                                                                        <p>더블치즈로 치즈와 쇠고기의<br>완벽한 조화!</p>
                                                                  </div>
                                                            </div>
                                                            <span class="tip-dots"></span>
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-1_2&sauce-3.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-add.png" alt="">
                                                                              <p>SAUCE</p>
                                                                        </div>
                                                                        <p>달콤하게 즐기고 싶다면 스윗어니언+마요네즈!<br>
                                                                              스테이크의 맛을 즐기고 싶다면 후추만 톡톡!
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                            <span class="tip-dots"></span>
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-1_3&veg-3.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-sub.png" alt="">
                                                                              <p>VEGETABLE</p>
                                                                        </div>
                                                                        <p>토마토, 오이를 빼면<br>고기의 풍미를 즐길 수 있습니다.</p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>

                                          <!-- 로스트치킨 -->
                                          <div class="orderTip-item">
                                                <div class="orderTip-top">
                                                      <div class="orderTipTop-inner">
                                                            <div class="orderTip-txt">
                                                                  <span><strong>다이어트중</strong>이라면?</span>
                                                                  <h3>로스트치킨</h3>
                                                                  <p>퍽퍽한 닭가슴살은 이제 그만!
                                                                        <br>로스트 치킨 샐러드는 가볍고 든든하게 즐길 수 있습니다.
                                                                        <br>샌드위치와 샐러드로 맛있고 든든하게 즐기세요.
                                                                  </p>
                                                            </div>
                                                            <div class="orderTipImg">
                                                                  <img src="/images/order-sdw-2.png" alt="">
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="orderTip-btm">
                                                      <h4>더 맛있게 즐기는 <strong>TIP</strong></h4>
                                                      <div class="tips">
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-2_1.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-add.png" alt="">
                                                                              <p>SALAD</p>
                                                                        </div>
                                                                        <p>로스트치킨은 샐러드로 드셔도 좋습니다.<br>
                                                                              관리의 시작은 써브웨이로부터!
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                            <span class="tip-dots"></span>
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-2_2&sauce-1.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-add.png" alt="">
                                                                              <p>SAUCE</p>
                                                                        </div>
                                                                        <p>랜치로 고소하게 즐겨보세요!</p>
                                                                  </div>
                                                            </div>
                                                            <span class="tip-dots"></span>
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-2_3.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-sub.png" alt="">
                                                                              <p>TOPPING</p>
                                                                        </div>
                                                                        <p>올리브, 피클, 할라피뇨를 빼고 드시면,<br>
                                                                              담백하고 부드러운 로스트 치킨을<br>
                                                                              제대로 즐길 수 있습니다.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>

                                          <!-- 써브웨이 클럽 -->
                                          <div class="orderTip-item">
                                                <div class="orderTip-top">
                                                      <div class="orderTipTop-inner">
                                                            <div class="orderTip-txt">
                                                                  <span><strong>건강</strong>을 생각한다면?</span>
                                                                  <h3>써브웨이 클럽</h3>
                                                                  <p>고기의 단백질과 야채의 비타민으로 영양UP!
                                                                        <br>절임류 야채를 제외해서 더 담백하게, 올리브오일을 넣어 부담은 DOWN!
                                                                        <br>써브웨이 클럽으로 건강한 하루를 보내세요.
                                                                  </p>
                                                            </div>
                                                            <div class="orderTipImg">
                                                                  <img src="/images/order-sdw-3.png" alt="">
                                                            </div>
                                                      </div>
                                                </div>
                                                <div class="orderTip-btm">
                                                      <h4>더 맛있게 즐기는 <strong>TIP</strong></h4>
                                                      <div class="tips">
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-3_1.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-add.png" alt="">
                                                                              <p>SAUCE</p>
                                                                        </div>
                                                                        <p>올리브오일과 후추를 살짝 뿌리면,<br>
                                                                              짜지않고 담백한 행복한 맛을 느낄 수 있습니다.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                            <span class="tip-dots"></span>
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-1_1.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-sub.png" alt="">
                                                                              <p>CHEESE</p>
                                                                        </div>
                                                                        <p>치즈를 빼고 터키, 베이컨,<br>햄의 완벽한 조화를 느껴보세요!</p>
                                                                  </div>
                                                            </div>
                                                            <span class="tip-dots"></span>
                                                            <div class="tip">
                                                                  <div class="tip-img"><img src="/images/order-tip-2_3.jpg" alt=""></div>
                                                                  <div class="tip-txts">
                                                                        <div class="tip-title">
                                                                              <img src="/images/bul-sub.png" alt="">
                                                                              <p>TOPPING</p>
                                                                        </div>
                                                                        <p>올리브, 피클, 할라피뇨를 빼고 드시면<br>
                                                                              야채들의 싱싱한 맛을<br>
                                                                              하나하나 느끼실 수 있습니다.
                                                                        </p>
                                                                  </div>
                                                            </div>
                                                      </div>
                                                </div>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </section>
            <!-- footer -->
            <footer>
                  <div class="footer-container">
                        <div class="ft-top-container">
                              <div class="ft-top-inner">
                                    <ul>
                                          <li><a href="">이용약관</a></li>
                                          <li><a href="">개인정보처리방침</a></li>
                                          <li><a href="">써브카드</a></li>
                                          <li><a href="">점주관리자</a></li>
                                          <li><a href="">Subway Listens</a></li>
                                    </ul>
                              </div>
                        </div>
                        <div class="ft-btm-container">
                              <div class="ft-btm-inner">
                                    <div class="ft-btm-left">
                                          <ul class="sb-ft-info">
                                                <li>서울시 서초구 강남대로 535 프린스빌딩 15층</li>
                                                <li>대표 : INSOO CHO(인수조)</li>
                                                <li>전화 : 02-797-5036</li>
                                                <li>사업자등록번호 : 101-84-04143</li>
                                          </ul>
                                          <p class="sb-ft-copyright">SUBWAY® is a Registered Trademark of Subway IP LLC.
                                                &copy; 2021 Subway IP LLC. All Rights Reserved.</p>
                                    </div>
                                    <div class="ft-btm-right">
                                          <div class="sns-instagram">
                                                <a href="https://www.instagram.com/subwaykorea/" target="_blank"></a>
                                          </div>
                                          <div class="sns-facebook">
                                                <a href="https://www.facebook.com/Subwaykr" target="_blank"></a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </footer>
      </div>

      <script src="/script/jquery-3.6.1.js"></script>
      <script src="/script/jquery-ui.js"></script>
      <script src="/script/jquery.bxslider.js"></script>
      <script src="/script/subway/common.js"></script>
      <script src="/script/subway/subwayUtilization.js"></script>
</body>
</html>