<!DOCTYPE html>
<html lang="en">

<head>
      <meta charset="UTF-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title>SUBWAY - 스마일썹</title>
      <link rel="shortcut icon" type="image/x-icon" href="/images/subway-favicon/favicon-1.png" />
      <link rel="apple-touch-icon" href="/images/subway-favicon/favicon-1.png" />
      <link rel="stylesheet" href="/style/reset.css">
      <link rel="stylesheet" href="/style/common.css">
      <link rel="stylesheet" href="/style/subway/subHdLnb.css">
      <link rel="stylesheet" href="/style/menuSubway/smile.css">
      <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Sharp:opsz,wght,FILL,GRAD@48,400,0,0" />
</head>

<body>
      <div class="wrapper">
            <!-- HEADER -->
            <header class="main-hd">
                  <div class="main-hd-container">
                        <div class="main-hd-top">
                              <a href="/" class="logo">
                                    <h1>SUBWAY<img src="/images/logo.png" alt="SUBWAY LOGO"></h1>
                              </a>
                              <div class="gnb">
                                    <ul>
                                          <li><a href="/login">로그인</a></li>
                                          <li><a href="/register">회원가입</a></li>
                                    </ul>
                              </div>
                              <div class="mbMenu-openBtn">
                                    <span class="material-symbols-sharp">menu</span>
                              </div>
                        </div>
                        <div class="main-hd-btm">
                              <nav class="lnb">
                                    <ul>
                                          <li id="main"><a href="#">메뉴소개</a>
                                                <ul class="sub-menu">
                                                      <li id="finish"><a href="/sandwich">샌드위치</a></li>
                                                      <li id="finish"><a href="/unit">랩 · 기타</a></li>
                                                      <li id="finish"><a href="/salad">샐러드</a></li>
                                                      <li id="finish"><a href="/morning">아침메뉴</a></li>
                                                      <li id="finish"><a href="/smile">스마일썹</a></li>
                                                      <li id="finish"><a href="/catering">단체메뉴</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">이용방법</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/subwayUtilization">써브웨이 이용방법</a></li>
                                                      <li><a href="/groupMenuUtilization">단체메뉴 이용방법</a></li>
                                                      <li id="finish"><a href="/freshInfo">신선한 재료 소개</a></li>
                                                      <li><a href="/appUtilizationMenu">App 이용방법</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">새소식</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/eventPromotion">이벤트 · 프로모션</a></li>
                                                      <li><a href="/newsNotice">뉴스 · 공지사항</a></li>
                                                      <li><a href="/adSubway">광고영상</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">써브웨이</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/histroySubway">써브웨이 역사</a></li>
                                                      <li><a href="/promiseSubway">단체메뉴 약속</a></li>
                                                      <li><a href="/artistSubway">샌드위치 아티스트 지원</a></li>
                                                      <li><a href="/storeSearch">매장찾기</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="#">가맹점</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/franchiseSubway">써브웨이 프랜차이즈</a></li>
                                                      <li><a href="/franchiseFAQ">가맹관련 FAQ</a></li>
                                                      <li><a href="/franchiseInquiry">가맹신청 · 문의</a></li>
                                                      <li><a href="/branchGuide">자사안내</a></li>
                                                      <li><a href="/franchiseInfo">사업설명회</a></li>
                                                </ul>
                                          </li>
                                          <li id="main"><a href="">온라인주문</a>
                                                <ul class="sub-menu">
                                                      <li><a href="/FAST-SUB">FAST-SUB</a></li>
                                                      <li><a href="/HOME-SUB">HOME-SUB</a></li>
                                                      <li><a href="/groupOrder">단체주문</a></li>
                                                </ul>
                                          </li>
                                    </ul>
                              </nav>
                        </div>
                  </div>
            </header>
            <div class="main-hd-bg"></div>
            <!-- MOBILE CONTENT-->
            <section class="mobile-container">
                  <div class="mobile-slider">
                        <a href="#"><img src="/images/mobile-banner-1.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-2.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-3.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-4.jpg" alt="" importance="high"></a>
                        <a href="#"><img src="/images/mobile-banner-5.jpg" alt="" importance="high"></a>
                  </div>
                  <div class="mobile-tabs">
                        <a href="/FAST-SUB" class="mobile-tab">
                              <p>FAST-SUB</p>
                              <p>매장 선주문</p>
                              <div class="mobile-tab-icon"><img src="/images/mobile-tab-1.png" alt=""></div>
                        </a>
                        <span class="mbt-bdr"></span>
                        <a href="/HOME-SUB" class="mobile-tab">
                              <p>HOME-SUB</p>
                              <p>배달 주문</p>
                              <div class="mobile-tab-icon mobile-tab-icon-2"><img src="/images/mobile-tab-2.png" alt="">
                              </div>
                        </a>
                  </div>
            </section>
            <div class="mobile-menu">
                  <div class="mobile-menu-inner">
                        <div class="mb-menu-hd">
                              <a href=""><img src="/images/mobile-menu-logo.jpg" alt=""></a>
                              <div class="mb-menu-setting">
                                    <a class="mb-menu-settingBtn" href="#"><span class="material-symbols-sharp">settings</span></a>
                                    <span class="material-symbols-sharp mb-menu-closeBtn">close</span>
                              </div>
                        </div>
                        <div class="mobile-gnb">
                              <p>로그인해주세요.<br>아직 회원이 아니신가요?</p>
                              <ul>
                                    <li><a href="/login">로그인</a></li>
                                    <li><a href="/register">회원가입</a></li>
                              </ul>
                        </div>
                        <div class="mobile-myMenu">
                              <ul>
                                    <li><a href="/FAST-SUB"><span class="myMenu-i"><img src="/images/mb-myMenu-1.png" alt=""></span>FAST-SUB</a></li>
                                    <li><a href="/HOME-SUB"><span class="myMenu-i"><img src="/images/mb-myMenu-2.png" alt=""></span>HOME-SUB</a></li>
                                    <li><a href="/groupOrder"><span class="myMenu-i"><img src="/images/mb-myMenu-3.png" alt=""></span>단체주문</a></li>
                                    <li><a href="subwayCard"><span class="myMenu-i"><img src="/images/mb-myMenu-4.png" alt=""></span>써브카드</a></li>
                                    <li><a href="/subwayCupon"><span class="myMenu-i"><img src="/images/mb-myMenu-5.png" alt=""></span>쿠폰</a></li>
                                    <li><a href="/subwayGift"><span class="myMenu-i"><img src="/images/mb-myMenu-6.png" alt=""></span>e-Gift</a></li>
                              </ul>
                        </div>
                        <!-- mobile-lnb -->
                        <div class="mobile-lnb">
                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-1.png" alt="">
                                                <h3>메뉴소개</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li id="mb-finish"><a href="/sandwich">샌드위치</a></li>
                                                <li id="mb-finish"><a href="/unit">랩 · 기타</a></li>
                                                <li id="mb-finish"><a href="/salad">샐러드</a></li>
                                                <li id="mb-finish"><a href="/morning">아침메뉴</a></li>
                                                <li id="mb-finish"><a href="/smile">스마일썹</a></li>
                                                <li id="mb-finish"><a href="/group">단체메뉴</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-2.png" alt="">
                                                <h3>이용방법</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/subwayUtilization">써브웨이 이용방법</a></li>
                                                <li><a href="/groupMenuUtilization">단체메뉴 이용방법</a></li>
                                                <li id="mb-finish"><a href="/freshInfo">신선한 재료 소개</a></li>
                                                <li><a href="/appUtilizationMenu">App 이용방법</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-3.png" alt="">
                                                <h3>새소식</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/eventPromotion">이벤트 · 프로모션</a></li>
                                                <li><a href="/newsNotice">뉴스 · 공지사항</a></li>
                                                <li><a href="/adSubway">광고영상</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-4.png" alt="">
                                                <h3>써브웨이</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/histroySubway">써브웨이 역사</a></li>
                                                <li><a href="/promiseSubway">단체메뉴 약속</a></li>
                                                <li><a href="/artistSubway">샌드위치 아티스트 지원</a></li>
                                                <li><a href="/storeSearch">매장찾기</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-5.png" alt="">
                                                <h3>가맹점</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/franchiseSubway">써브웨이 프랜차이즈</a></li>
                                                <li><a href="/franchiseFAQ">가맹관련 FAQ</a></li>
                                                <li><a href="/branch-guide">자사안내</a></li>
                                                <li><a href="/franchiseInfo">사업설명회</a></li>
                                          </ul>
                                    </div>
                              </div>

                              <div class="mb-lnb-item">
                                    <button class="mb-lnb-header">
                                          <div class="mb-lnb-title">
                                                <img src="/images/mobile-lnb-6.png" alt="">
                                                <h3>고객센터</h3>
                                          </div>
                                          <div class="mb-lnb-btn">
                                                <span class="material-symbols-sharp">expand_more</span>
                                          </div>
                                    </button>
                                    <div class="mb-lnb-body">
                                          <ul>
                                                <li><a href="/FAQ">FAQ</a></li>
                                                <li><a href="/inquiry">1:1 문의</a></li>
                                          </ul>
                                    </div>
                              </div>
                        </div>
                  </div>
            </div>
            <div class="mobileMenuBg"></div>
            <!-- SUB-HD -->
            <div class="sub-hd">
                  <div class="sub-hd-container">
                        <div class="sub-hd-bg">
                              <div class="bg-pic"></div>
                              <div class="bg-pic"></div>
                        </div>
                        <div class="sub-hd-lnb-container">
                              <nav class="sub-hd-lnb">
                                    <ul>
                                          <li><a href="/sandwich">샌드위치</a></li>
                                          <li><a href="/unit">랩 · 기타</a></li>
                                          <li><a href="/salad">샐러드</a></li>
                                          <li><a href="/morning">아침메뉴</a></li>
                                          <li><a href="/smile">스마일썹</a></li>
                                          <li><a href="/catering">단체메뉴</a></li>
                                    </ul>
                              </nav>
                        </div>
                        <div class="sub-hd-txt">
                              <p>Smile Sub</p>
                              <p>웃음이 번지는 착한 가격, 착한 맛!
                              <br>스마일 썹과 함께 하루 종일 스마일 하세요~</p>
                        </div>
                  </div>
            </div>
            <!-- MENU TAG BX -->
            <div class="menu-tag-bx">
                  <ul>
                        <li><a href="">스마일썹</a></li>
                  </ul>
            </div>
            <!-- MENU LIST WRAPPER -->
            <div class="menu-list-container">
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-1.png" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">고구마 칩</p>
                                    <p class="menu-title-eng">Crisscut Sweet Potato</p>
                                    <p class="menu-kcal">221 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>고구마 칩</p>
                                    <p>Crisscut Sweet Potato</p>
                                    <p>오븐에 구워 더 부드럽고 달콤, 담백한 고구마 칩</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-2.png" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">머쉬룸 수프</p>
                                    <p class="menu-title-eng">Mushroom Soup</p>
                                    <p class="menu-kcal">147 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>머쉬룸 수프</p>
                                    <p>Mushroom Soup</p>
                                    <p>2020년 겨울, 새롭게 선보이는 부드러운 머쉬룸 수프</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-3.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">우유</p>
                                    <p class="menu-title-eng">Milk</p>
                                    <p class="menu-kcal">125 kcal/320 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>우유</p>
                                    <p>Milk</p>
                                    <p>* 매장 별 판매 여부는 상이할 수 있습니다.</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-4.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">치킨 베이컨 미니 랩</p>
                                    <p class="menu-title-eng">Chicken Bacon Mini Wrap</p>
                                    <p class="menu-kcal">391 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>치킨 베이컨 미니 랩</p>
                                    <p>Chicken Bacon Mini Wrap</p>
                                    <p>담백한 치킨, 바삭한 베이컨 비츠가<br>쫀득한 통밀 랩에 쏘옥!<br>치킨 베이컨 미니 랩</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-5.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">웨지 포테이포</p>
                                    <p class="menu-title-eng">Ovenbaked Wedge Potatoes</p>
                                    <p class="menu-kcal">140 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>웨지 포테이포</p>
                                    <p>Ovenbaked Wedge Potatoes</p>
                                    <p>오븐에 구워 더 담백,<br>겉은 바삭 속은 촉촉한 건강한 사이드<br>※제공시간 : 오전 11시 ~</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-6.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">Cheesy 웨지 포테이포</p>
                                    <p class="menu-title-eng">Cheesy Ovenbaked Wedge Potatoes</p>
                                    <p class="menu-kcal">194 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>Cheesy 웨지 포테이포</p>
                                    <p>Cheesy Ovenbaked Wedge Potatoes</p>
                                    <p>치즈 풍미 한가득, 오븐에 구워<br>더 담백한 겉은 바삭<br>속은 촉촉한 건강한 사이드<br>※제공시간 : 오전 11시 ~</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-7.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">Bacon Cheesy 웨지 포테이포</p>
                                    <p class="menu-title-eng">Bacon Cheesy Ovenbaked Wedge Potatoes</p>
                                    <p class="menu-kcal">247 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>Bacon Cheesy 웨지 포테이포</p>
                                    <p>Bacon Cheesy Ovenbaked Wedge Potatoes</p>
                                    <p>짭쪼름한 베이컨과 치즈의 궁합을 더한,<br>오븐에 구워 더 담백한 겉은 바삭
                                          <br>속은 촉촉한 건강한 사이드<br>※제공시간 : 오전 11시 ~
                                    </p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-8.png" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">브로콜리 체다 수프</p>
                                    <p class="menu-title-eng">Broccoli Cheddar Soup</p>
                                    <p class="menu-kcal">166 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>브로콜리 체다 수프</p>
                                    <p>Broccoli Cheddar Soup</p>
                                    <p>건강한 브로콜리와 짭쪼름한 체다치즈의<br>환상적인 조합</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-9.png" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">베이컨 포테이토 수프</p>
                                    <p class="menu-title-eng">Baked Potato Soup</p>
                                    <p class="menu-kcal">181 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>베이컨 포테이토 수프</p>
                                    <p>Baked Potato Soup</p>
                                    <p>부드럽고 담백한 감자에<br>바삭한 베이컨의 찰떡궁합</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-10.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">더블 초코칩</p>
                                    <p class="menu-title-eng">Doubled Chocolate Chip</p>
                                    <p class="menu-kcal">212 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>더블 초코칩</p>
                                    <p>Doubled Chocolate Chip</p>
                                    <p>부드러운 화이트초콜릿과 다크 초콜릿의<br>절묘한 조화로 더욱 풍부한 달콤함</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-11.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">초코칩</p>
                                    <p class="menu-title-eng">Chocolate Chip</p>
                                    <p class="menu-kcal">228 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>초코칩</p>
                                    <p>Chocolate Chip</p>
                                    <p>알알이 가득한 초코의 가장 클래식한 달콤함</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-12.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">오트밀 레이즌</p>
                                    <p class="menu-title-eng">Oatmeal Raisin</p>
                                    <p class="menu-kcal">200 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>오트밀 레이즌</p>
                                    <p>Oatmeal Raisin</p>
                                    <p>건포도와 귀리에 살짝 더해진<br>계피향의 환상적인 조화</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-13.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">라즈베리 치즈케익</p>
                                    <p class="menu-title-eng">Raspberry Cheese Cake</p>
                                    <p class="menu-kcal">204 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>라즈베리 치즈케익</p>
                                    <p>Raspberry Cheese Cake</p>
                                    <p>부드럽고 풍부한 치즈와<br>새콤달콤 라즈베리의달콤한 만남</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-14.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">화이트 초코 마카다미아</p>
                                    <p class="menu-title-eng">White Choco Macadamia</p>
                                    <p class="menu-kcal">245 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>화이트 초코 마카다미아</p>
                                    <p>White Choco Macadamia</p>
                                    <p>고소함 가득한 마카다미아와<br>달콤한 화이트 초콜릿의 환상 궁합</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-15.jpg" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">칩</p>
                                    <p class="menu-title-eng">Chip</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>칩</p>
                                    <p>Chip</p>
                                    <p>바삭바삭한 칩을 추가해 써브웨이를 즐겨보세요</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-16.png" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">탄산음료</p>
                                    <p class="menu-title-eng">Soda</p>
                                    <p class="menu-kcal">200 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>탄산음료</p>
                                    <p>Soda</p>
                                    <p>-</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-17.png" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">커피</p>
                                    <p class="menu-title-eng">Coffee</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>커피</p>
                                    <p>Coffee</p>
                                    <p>-</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
                  <a href="#" class="menu-item">
                        <div class="menu-front-item">
                              <div class="menu-img"><img src="/images/smile-18.png" alt=""></div>
                              <div class="menu-item-txt">
                                    <p class="menu-title">해쉬브라운</p>
                                    <p class="menu-title-eng">Hash Brown</p>
                                    <p class="menu-kcal">86 kcal</p>
                              </div>
                        </div>
                        <div class="menu-back-item">
                              <div class="menu-back-inner">
                                    <p>해쉬브라운</p>
                                    <p>Hash Brown</p>
                                    <p>잘게 썬 감자를 노릇하게 구워<br>바삭하고 쫀득하게 즐기는 모닝 파트너<br>※아침메뉴 제공시간 : 오전 11시까지</p>
                                    <div class="icon-more"><img src="/images/icon-view.png" alt=""></div>
                              </div>
                        </div>
                  </a>
            </div>
            <!-- FOOTER -->
            <footer>
                  <div class="footer-container">
                        <div class="ft-top-container">
                              <div class="ft-top-inner">
                                    <ul>
                                          <li><a href="">이용약관</a></li>
                                          <li><a href="">개인정보처리방침</a></li>
                                          <li><a href="">써브카드</a></li>
                                          <li><a href="">점주관리자</a></li>
                                          <li><a href="">Subway Listens</a></li>
                                    </ul>
                              </div>
                        </div>
                        <div class="ft-btm-container">
                              <div class="ft-btm-inner">
                                    <div class="ft-btm-left">
                                          <ul class="sb-ft-info">
                                                <li>서울시 서초구 강남대로 535 프린스빌딩 15층</li>
                                                <li>대표 : INSOO CHO(인수조)</li>
                                                <li>전화 : 02-797-5036</li>
                                                <li>사업자등록번호 : 101-84-04143</li>
                                          </ul>
                                          <p class="sb-ft-copyright">SUBWAY® is a Registered Trademark of Subway IP LLC.
                                                &copy; 2021 Subway IP LLC. All Rights Reserved.</p>
                                    </div>
                                    <div class="ft-btm-right">
                                          <div class="sns-instagram">
                                                <a href="https://www.instagram.com/subwaykorea/" target="_blank"></a>
                                          </div>
                                          <div class="sns-facebook">
                                                <a href="https://www.facebook.com/Subwaykr" target="_blank"></a>
                                          </div>
                                    </div>
                              </div>
                        </div>
                  </div>
            </footer>
      </div>
      <script src="/script/jquery-3.6.1.js"></script>
      <script src="/script/jquery-ui.js"></script>
      <script src="/script/jquery.bxslider.js"></script>
      <script src="/script/subway/common.js"></script>
      <script>
            $('.sub-hd-txt p:nth-child(1)').css({
                  'transform': 'translateY(0px)',
                  'opacity': 1
            })
            $('.sub-hd-txt p:nth-child(2)').css({
                  'transform': 'translateY(0px)',
                  'opacity': 1
            })

            $(function () {
                  let url = window.location.href.split('3000')[1];
                  let ary = [];
                  const subMenu = document.querySelectorAll('.sub-menu a');
                  const subHdLnb = document.querySelectorAll('.sub-hd-lnb a');
                  const mbLnb = document.querySelectorAll('.mb-lnb-body a');
                  for (let i = 0; i < subMenu.length; i++) {
                        ary[i] = subMenu[i].pathname;
                        if (url == ary[i]) {
                              let mainMenu = subMenu[i].parentElement.parentElement.parentElement;
                              mainMenu.classList.add('mainMenu-active');
                              subMenu[i].classList.add('subMenu-active');
                              subHdLnb[i].classList.add('subHd-active');
                              // mbMenu
                              let mbLnbBtn = mbLnb[i].parentElement.parentElement.parentElement.previousElementSibling.children[0];
                              mbLnbBtn.classList.add('mainMenu-active');
                              mbLnb[i].classList.add('subMenu-active');
                        }
                  }
            })
      </script>
</body>

</html>